/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */


@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);

html,body {
  font-family: "Lato",Helvetica,sans-serif;
  font-size: 3vmin;
  line-height: 3.2vmin;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0px; 
}

nav.navbar {
  background: rgba(9, 8, 7, 0.8); 
}

.navbar-collapse.collapse {
  text-align: center;
}

.navbar-inverse .navbar-nav {
  font-size: 2.2vmin;
  display: inline-block;
  float: none;
  margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  border-radius: 4px;
  position: relative;
  top: 2px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0;
}

.navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #c73e3e;
}

.navbar-brand img {
  height: 30px;
  position: relative;
  top: -6px;
}

.home-full {
  background: url(/assets/images/home-bg.jpg) no-repeat 50% 101% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body#home .above-fold .jumbotron {
  background: rgba(9, 8, 7, 0.6); 
  color: white;
  text-align: center;
  padding: 8px;
  margin: 4vmin auto;
  max-width: 700px;
  border-radius: 16px;
}

body#home .above-fold h1 {
  max-width: 850px;
  text-align: center;
  color: white;
  font-size: 7.5vmin;
  line-height: 9.5vmin;
  margin: 2em auto;
  text-shadow: 1px 1px #333;
  font-family: "Droid Sans", sans-serif;
  padding-top: 6vmin;
}

body#home .above-fold h2 {
  max-width: 850px;
  text-align: center;
  color: white;
  font-size: 4vmin;
  line-height: 5.5vmin;
  margin: 1em auto;
  text-shadow: 1px 1px #333;
  font-family: "Droid Sans", sans-serif;
}


.card {
  border: 0.1rem solid #e5e5e5;
  border-radius: 1rem;
  padding: 1em;
  margin-bottom: 4vmin;
}

.card-title {
  text-align: center;
}


h2.headline {
  margin: 20vmin 4vmin 10vmin 10vmin;
  font-family: Lato, sans-serif;
  letter-spacing: 0.02em;
  font-size: 7vmin;
}

.tailline, .headline {
  text-align: center;
}

.apply-now {
  position: relative;
  top: 8px;
}

.btn-apply {
  color: #fff;
  border: 1px solid #aa1b1b;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c22e2e+0,c22d2d+74,c65555+100 */
  background: #c22e2e; /* Old browsers */
  background: -moz-linear-gradient(top,  #c22e2e 0%, #c22d2d 74%, #c65555 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c22e2e 0%,#c22d2d 74%,#c65555 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c22e2e 0%,#c22d2d 74%,#c65555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c22e2e', endColorstr='#c65555',GradientType=0 ); /* IE6-9 */

}

.btn-apply:hover {
  background-color: #E04343;
  border-color: #c73e3e1;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}

.slick-slider button.slick-prev:before, 
.slick-slider button.slick-next:before {
  color: black;
}

.slick-slider button.slick-next:before {
  margin-left: -1em;
}

.slick-slider button.slick-prev:before {
  margin-right: -1em;
}

.slick-slider.slide {
  padding: 1em;
}

.slick-slider.slide p {
  font-family: Lato, sans-serif;
  font-size: 2.5vmin;
  line-height: 4vmin;
  margin-bottom: 4vmin;
}

hr {
  width: 88%;
  border: 0;
  height: 1px;
  background: #aaa; /* Old browsers */
  margin: 3em 2em;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
}
blockquote:before {
  content: open-quote;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
}
blockquote p {
  display: inline;
}

.review-card {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 4vmin;
  line-height: 5vmin;
}

.reviewer-photo {
  max-width: 300px;
  min-width: 120px;
  position: relative;
  margin: 1em 2em;
}

body footer {
  background-color: #333333;
  color: white;
  padding: 6vmin;
  font-size: 2.4vmin;
  line-height: 4vmin;
}

footer img.brand {
  max-width: 50%;
  float: right;
}

footer a {
  color: white;
  font-weight: 300;
}

footer a:hover, footer a:active {
  color: white;
}

blockquote footer {
  background: transparent;
  color: #333;
  padding: 3vmin;
  line-height: 2vmin;
}


/* Slider */

.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
