<%- content_for(:title) do %>
  Thank you for applying to Devschool, the premiere online web development school!
<%- end %>

<div class="full-bg full-applied"
     style="background: url(<%= image_path('heroes/applied-bg.jpg') %>) no-repeat 50% 50% fixed;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 above-fold">
        <h1>Thank you for applying to Devschool! You have taken the first step in an amazing adventure!</h1>
	<h2><a data-scroll href="#below-the-fold">Scroll down</a> to see what your next steps are</h2>
      </div>
    </div>
  </div>
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">So you have applied.. what now?</h2>
      <p class="text-center">We will review your application and decide if your response is up to par.</p>
      <p class="text-center">We are not looking for English being your first language and your mastery of it.
         Instead, we are looking for a keen mind and most importantly, someone who shows enthusiasm and will go the distance.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h3 class="headline">Self Starters ROCK!</h3>
      <ul class="list-group">
        <li class="list-group-item">Check out our friends at <a rel="nofollow" href="https://codeschool.com">Codeschool</a> and take the
          free <a href="https://www.codeschool.com/courses/front-end-foundations">HTML</a>,
          <a rel="nofollow" href="https://www.codeschool.com/courses/try-ruby">Ruby</a>,
          and <a rel="nofollow" href="https://www.codeschool.com/paths/javascript">JavaScript</a> courses.</li>
        <li class="list-group-item">Create yourself a <a href="https://github.com/join">Github profile</a> to show off what you are learning,
          and of course take the free <a href="https://www.codeschool.com/courses/try-git" rel="nofollow">Git</a> course at
        Codeschool!</li>
        <li class="list-group-item">Create a <a rel=nofollow href="https://learn.co/join/web-prework">Learn.co</a> where you can do
          some web development setup prework - they require a Mac, but so do we.</li>
      </ul>
      </div>
    </div>
  </div>
</div>
