<%- content_for(:title) do %>
  Apply for the Devschool Online Web Developer Bootcamp
<%- end %>

<div class="full-bg full-apply">
  <div class="container">
    <div class="row">
      <div class="col-md-12 above-fold">
	<h1>Devschool's mission is to provide you knowledge and a job. We also have a strong culture of diversity and getting things done.</h1>
	<h2><a data-scroll href="#below-the-fold">Scroll down</a> to learn more and apply!</h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">We don't like complainers. We don't like excuses. We people who get things done no matter the odds.</h2>
      <p>You should be interested in Technology as it impacts your everyday life. You should enjoy learning about science. You should have an inquisitive, kind mind. One that is quick to absorb information and then find evidence to confirm or refute it. In short, you must be a bit of a nerd.</p>

      <p>The great news is there is a bit of nerdiness to most people these days. Artists, Managers, Marketers, Writers, and Chefs all have the nerds among them. They are interested in creating more productive workflows, and inventing new tools to aid them in their trade. They are inquisitive people and they love to solve a good mystery like Scooby Doo.</p>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We Value Diversity</h3>
      <p class="tailline">Nerds come in all shapes and colors and genders. They are not binary creatures.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We Value Humor</h3>
      <p class="tailline">You are expected to have a bit of a thick skin here. Employers want winners, not whiners.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We Value Hard Work</h3>
      <p class="tailline">Your education is up to you, and you will get out of the program what you put into it.</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 faq-section">
      <h2>Devschool Online Developer Bootcamp - The APPLICATION FAQ</h2>

      <p>Applying at Devschool is a fun and engaging process. You will not be
      asked to solve puzzlers or write a bunch of code to get accpeted. We prefer
      to talk to you and have you meet a current student instead.</p>

      <h3>Q. How does the application process work?</h3>

      <p>A. You start by filling out the form <a href="#apply-now">below this FAQ</a>
      and make sure you fill out the textarea with something that will make you stand
      out. We would rather have more to read about your then less!</p>

      <h3>Q. After I submit my application what happens?</h3>

      <p>A. We review your answers and determine if you sound like someone we would like
      to talk to. If you answered with some detail and expressed a sincere desire to learn
      you at least deserve a phone call, so that is the next step based on your answers.</p>

      <h3>Q. How will I know when my "Phone" interview is?</h3>

      <p>A. You will receive an email with a link to your Instructor's Calendar and
      a request to pick a time that suits you for a 30 minute discussion. Email us back
      with your suggestion and we will take it from there.</p>

      <h3>Q. After I speak with my future Instructor what happens?</h3>

      <p>A. We next will have you shcedule 20 minutes to chat with a student currently
      enrolled in the program, so you can get a perspective from someone much like
      yourself with the same goals.</p>

      <h3>Q. Ok, so I talked to a current student and I am still a go!</h3>

      <p>A. At this point there is nothing you have to wait for. Tell us you are dying
      to get started and we will send you a link to handle your enrollment payment and
      you can start immediately. There are no cohorts or artificial starts here.</p>

    </div>
  </div>

  <div class="row">
    <hr>
    <a name="apply-now"></a>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="enrollment-application-form">
        <form id="apply" action="<%= backend_url %>/enrollments.json"
              class="form form-horizontal">
	  <fieldset>
            <h3 class="headline">Take charge of your future!</h3>

	    <div class="form-group">
              <div class="col-md-4"></div>
	      <div class="col-md-8">
                <h3>Student Information</h3>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="col-md-4 control-label" for="enrollment_name">What is your name?</label>  
	      <div class="col-md-8">
		<input id="enrollment_name" name="enrollment[name]" type="text" placeholder="Future J Hacker" class="form-control input-md unfilled_field">
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="col-md-4 control-label" for="enrollment_email">Your primary email address?</label>  
	      <div class="col-md-8">
		<input id="enrollment_email" name="enrollment[email]" type="text" placeholder="somebody@someplace.com" class="form-control unfilled_field input-md">
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="col-md-4 control-label" for="enrollment_why">Why do you want to join Devschool?</label>
	      <div class="col-md-8">
                <textarea class="form-control" rows="8" id="enrollment_why" name="enrollment[why]">
Tell us why we should accept you to our program, we don't accept everyone. Why? We care deeply about the school culture and the experience of our current students.
                  
So what does one say to get accepted? Show some spunk. Show some nerd cred. Tell us how you overcame some challenges in your life. We like people who tough it out and overcome.
                </textarea>
	      </div>
	    </div>

	    <div class="form-group">
              <div class="col-md-4"></div>
	      <div class="col-md-8">
                <h3>Method of Payment</h3>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="col-md-4 control-label" for="enrollment_pay_option_prepay"></label>
	      <div class="col-md-8">
		<div class="checkbox">
                  <input type="radio" name="enrollment[pay_option]" checked id="enrollment_pay_option_prepay" value="prepay">
                  <label for="enrollment_pay_option_prepay">I will be paying $4,998 up-front, saving $1,000</label>
                  <input type="radio" name="enrollment[pay_option]" id="enrollment_pay_option_payments" value="payments">
		  <label for="enrollment_pay_option_payments">I want to make 6 monthly payments of $998 instead</label>
		</div>
	      </div>
	    </div>

	    <div class="form-group">
	      <label class="col-md-4 control-label" for="accept_tos"></label>
	      <div class="col-md-8">
		<div class="checkbox">
		  <input type="checkbox" name="accept_tos" id="accept_tos" class="unfilled_field">
                  <label for="accept_tos">I have read and accept the <a href="/terms" target="_blank">Terms of Service</a></label>
		</div>
	      </div>
	    </div>

	    <div class="form-group">
	      <div class="col-md-4"></div>
	      <div class="col-md-8">
		<button class="btn btn-primary" disabled>I WANT TO JOIN DEVSCHOOL</button>
	      </div>
	    </div>

	  </fieldset>
	</form>

      </div>
    </div>
  </div>
</div>
