<%- content_for(:title) do %>
Coding School | Online | Learn to code at Devschool!
<%- end %>

<%- content_for(:description) do %>
We are a different kind of coding school, we teach by demostration, in a one
on one, private learning environment. Much more school, much less bootcamp.
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/different
<%- end %>

<%- content_for(:keyword_tags) do %>
online coding school, coding school, big box bootcamps, best online coding schools
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_#{(1..6).to_a.sample}.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
        <h2>The two most important days of your life..</h2>
        <h2>The day you are born, and the day you find out why</h2>
      </div>
    </div>
  </div>
<%- end %>

<h1 class="text-center">
  <div class="top">An online coding school</div>
  <div class="middle">where you learn by building software</div>
  <div class="bottom">side by side with an expert mentor, not a checklist</div>
</h1>

<div class="holder">
  <div class="section different-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>There are no classrooms at Devschool!</h2>

          <p>Instead of putting you in a sea of other students and forcing you to work till
          you drop in a public space, you get to work in your own home, and at the pace that
          matches your availability as well as your goals.</p>

          <p>We pair you with an expert programmer who will guide you, side by side, through
          the many challenges that will face you as you learn to build software applications
          in our coding program.</p>

          <p>At Devschool's online coding school, you build real applications, not a shallow sham of a clone of twitter.
          We guide you in selecting the applications you want to build and help break them
          down down into actionable items. Your curriculum is 100% shaped by your own 
          disires, interests, and goals.</p>

          <h2>What does the Devschool brand stand for?</h2>

          <p>To put it simply, Devschool stands for the highest standard of excellence in 
          customer service and student education. It is a very hard mark to hit and it keeps
          us on our toes, but so far we have a 100% approval rating from our alumni, and
          much of that is due to our relentless duty to our Students' happieness.</p>

          <p>For instance, every Instructor we hire must exibit not only a strong desire 
          to teach the next generation of programmers in a fun and energetic, informative 
          manner, but they also must promise to hold the torch of our Student experience
          high and represent the brand at all times.</p>

          <p>You see, at Devschool the Student is always right when it comes to their
          perception of service. "They pay, they say" is our motto and it extends to 
          how our Students are treated, respected, and ultimately prepared
          for their careers in coding.</p>

          <p>Our Brand is our most important asset, and we understand how our brand is
          ultimately labeled, not by us, but by the world around us. We feel that by
          jealously guarding the experience and education of our students and always
          helping someone when we can, we will deliver such amazing experience our
          brand awareness will spread on it own.</p>

          <h2>At Devschool you will be taught only by experts</h2>

          <p>Our Instructors must have at least 10 years experience programming 
          in the real world, and they must have 5 years experience in the subjects 
          they teach.</p>
          
          <p>Learning to build great software takes a lifetime, and we just don't think
          anyone with less than ten years in the business, one has no business 
          teaching what they know.</p>
          
          <p>In order to teach you must first have learned, 
          and then put that learning into practice, skinned the shit out of your knees,
          and then learned from it and repated the whole process many times over the
          years.</p>

        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'squeeze_open_group' %>

<div class="holder">
  <div class="section different-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>We provide job preperation services</h2>

          <p>We do mock interviews over skype with our Students to help prepare them for
          kinds of questions and challenges they will face when it comes time to get that
          first job, and every job after that.</p>

          <p>Employers look for certain things from newly minted developers, and we help
          lift the veil so you can see how to make yourself more likable and desireable
          by a prospective employer.</p>

          <h2>Our job placement numbers explained</h2>

          <p>We have a 100 % hire rate after graduation, but unlike some of the Big Box
          Bootcamps, our numbers are easy to explain!</p>
          
          <p>When you complete your interning hours and are nearing the end
          of your 42 private sessions, you begin looking for work. During you job
          search we advise you on how to make yourself more palatable by employers
          and help you complete AND UNDERSTAND the code challenges you will
          be given as part of that job search.</p>

          <p>When you get your first job you graduate the program. If you don't get the
          job you do what winners do, you keep looking, and in the meanwhile we try to 
          find a place for you with one of our non profit partners.</p>

          <h2>What our job guarantee means</h2>

          <p>We don't stop working for you until you get a job. You pay no additional cost
          for this service, it is part of why Devschool is radically different from the
          so called competition. They give you McDonalds we give you steak.</p>

          <p>Learn more about our <a href="/coding-bootcamp">online coding bootcamp program</a>
          or start today by requesting your free devschool preview below!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'get_started' %>
