<%- content_for(:title) do %>
<%- end %>

<%- content_for(:description) do %>
<%- end %>

<%- content_for(:canonical) do %>
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= image_path("banner_applied.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
	<h1>
	  <div class="top">You have taken your first step</div>
	  <div class="middle">in a much bigger world my friend</div>
	  <div class="bottom">and are a little closer to your goal of making a great living and improving your life!</div>
	</h1>

      </div>
    </div>
  </div>
<%- end %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>WHAT IS THE NEXT STEP?</h2>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Check your email!</h2>
              <p>Instructions on how to get your free Devschool preview has been sent to you.</p>
              <p>See you very soon!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
