<%- content_for(:title) do %>
At Devschool you work with real non profits while you learn
<%- end %>

<%- content_for(:description) do %>
Why wait until you graduate to get before the eyes of hiring managers? Work for an NGO while in school!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/partnerships/ngo-program
<%- end %>

<div class="full-bg full-ngo"
     style="background: url(<%= image_path('heroes/ngo-bg.jpg') %>) no-repeat 100% 80% fixed;">
     <div class="container">
       <div class="row vertical-center">
         <div class="col-md-12 above-fold text-center">
           <h1>Our online coding bootcamp program has both an internship and charity
             baked into it's core! You get to help the world, and we get you in front
           of hiring managers!</h1>

        <h3><a data-scroll href="#below-the-fold"
               class="btn btn-attention btn-lg">TELL ME MORE ABOUT THIS</a></h3>
         </div>
       </div>
     </div>
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Meet NewStory, our featured NGO Partner!</h2>

      <div class="well jumbotron">
        <p class="text-center"><a target="_blank" href="https://newstorycharity.org/leveque-haiti">
        <img alt="NewStory charity" src="<%= image_path("partners/newstory/leveque-newstory.png") %>"></a></p>

        <h3 class="headline">NewStory helps crowd fund homes for families in need!</h3>

        <p>We initially started this program as a way for Students to build experience on
        real world projects, but quickly we realized that the real benefit was getting
        to work with companies like NewStory, who do so much amazing work in the world.
        Devschool is in the process of rebuilding their outdated, difficult to change, PHP
        website into an easy to update, Ruby on Rails application with WebFlow built-in, 
        their preferred content generation and web styles framework.</p>

        <p>Graduates of our online coding bootcamp didn't just learn some
        awesome skills for their futures, they also helped feed, house, or provide clean
        water or medical care to fellow humans in need. It almost sounds icky to follow that with this fact, but Employers
        LOVE to see this sort of experience on your resumes, so having this program as
        part of our program also aids you in getting better jobs for the rest of your
        career in in software and web development!</p>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">real internships</h3>
      <p class="tailline">You want experience and real projects to work on, our
      partners want to help real people around the world and need your enthusiasm
      and hard work.</p>

      <p>The hardest part of breaking into an industry is getting "the chance" to
      "prove yourself". This is why we started the NGO partnership, to get your
      resume that first job and recommendation!</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">real experience</h3>
      <p class="tailline">Working on worthless, stripped down clones of Twitter
      and Pinterest really don't help you or anyone else. Instead of wasting your
      time, invest it.</p>

      <p>There is no better feeling then working on a real app, except working on
      a real app the helps real people. Welcome to the NGO program at Devschool.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">help real people</h3>
      <p class="tailline">You could intern working on commercial products and
      web sites to build the same experience. But why line some rich company's
      pockets when you can help?</p>

      <p>We work with organization who put clothes on people's backs, food in
      children's tummies, and roofs over needy family's heads. Not many bootcamps
      can say that.</p>
    </div>
  </div>
</div>


<div class="section-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 faq-section">
        <h2>Devschool Non Profit Partnership program - FAQ</h2>

        <p>Working with NGOs is especially satisfying because you aren't just
        making a living and earning experience, you are helping an organization
        help the world. At Devschool we love Non Profits!</p>

        <h3>Q. Why do we have to do intern work at an NGO?</h3>

        <p>A. Our job at Devschool is not to just teach you web development, but
        to also get you a job in the web development field. In order to get a job
        you must have first had one. It can be a vicious cycle of No.</p>

        <p>We have found that it is a lot easier to build experience with Non Profits
        as they are more apt to work with Jr Developers who have enthusiasm for the
        mission.</p>

        <p>Gaining that initial team experience and referrals is a critical step
        to becoming a paid web developer, and Devschool's NGO Parter Program is
        designed to do exactly that.</p>

        <h3>Q. Is this NGO internship work paid?</h3>

        <p>A. No, the interning hours that you do as part of your school work is
        not paid work in the sense that you get money. You will however get valuable
        experience and some people in your corner backing you when you look for you
        real job.<p>

        <h3>Q. What if I don't want to work for a non profit?</h3>

        <p>A. If you chose to work for a normal, for profit company when you graduate
        we will help you find and nail your job with Interview readiness resources.</p>

        <p class="well next">Yes, gaining experience while supporting a great cause is awesome! <%= link_to "How do I apply to Devschool then?", apply_path %></p>

      </div>
    </div>
  </div>

</div>
