<%- content_for(:title) do %>
  Exactly how much does it cost to become a Jr. Web Developer at Devschool?
<%- end %>

<div class="full-bg full-price">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>At Devschool <strong>we do not believe</strong> you <strong>deserve</strong> a <strong>life long</strong>, <strong>crushing debt</strong> to become a Web Developer</h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to read more about our simple pricing!</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Enroll and you will only pay $4,998 <span class="text-small">USD</span></h2>
     <h3 class="headline">40 private 50 minute lessons, and 420 hours of learning time</h3>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">Save some money</h3>
      <p class="tailline">You will save almost a thousand dollars when you pay up front.</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">We are flexible</h3>
      <p class="tailline">You can also make 5 easy, monthly payments of $1194 <span class="text-small">USD</span> instead.</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">Refund policy</h3>
      <p class="tailline">We back our performance by a pro-rated refund for the time you used.</p>
    </div>
  </div>

</div>
