<%- content_for(:title) do %>
  Exactly how much does Devschool's online bootcamp cost?
<%- end %>

<%- content_for(:canonical) do %>
  <link rel="canonical" href="/price" />
<%- end %>

<div class="full-bg full-price">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>We don't belive a web development education should cost $15k so we can have shiny offices and toys to impress people</h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to read more about our simple pricing!</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Our program consists of 40 one on one 50 minute sessions with your Instructor, up to 5 instructor-led group sessions a week, and 420 hours of building web applications</h2>
      <h3 class="headline">We don't just train you up, we get you hired out!</h3>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Save some money</h3>
      <p class="tailline">The program costs $4,988 <span class="text-small">USD</span> if you pay in full when you enroll, saving a cool thousand!</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We are flexible</h3>
      <p class="tailline">You can also make 6 easy, monthly payments of $998 <span class="text-small">USD</span> if that fits your style better.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Refund policy</h3>
      <p class="tailline">We back our performance by a pro-rate refund policy. To date, it has not been excersized.</p>
    </div>
  </div>

  <p class="well next">The program sounds really great, I am ready to apply! <%= link_to "How does that work?", apply_path %></p>

</div>
