<br>
<br>

<div class="container">
  <h1>Table of Contents</h1>
  <ol>
    <li><a href="#definitions"> Definitions</a></li>
    <li> <a href="changes_to_terms_of_service_and_notices">Changes to Terms of Service and Notices</a></li>
    <li><a href="#paid_services">Paid Services</a></li>
    <li><a href="#refund_policy">Refund Policy</a></li>
    <li><a href="#service_eligibility">Service Eligibility</a></li>
    <li><a href="#service_permission">Service Permission</a></li>
    <li><a href="#service_availability">Service Availability</a></li>	
    <li><a href="#communication_data_retention_and_services">Communication, Data Retention, and Services</a></li>
    <li><a href="#company_intellectual_property">Company Intellectual Property</a></li>
    <li><a href="#privacy_policy">Privacy Policy</a></li>
    <li><a href="#prohibited_conduct">Prohibited Conduct</a></li>
    <li><a href="#devschool_accounts">Devschool Accounts</a></li>
    <li><a href="#third_party_sites_and_embedded_content">Third Party Sites and Embedded Content</a></li>
    <li><a href="#limited_liability_and_disclaimers">Limited Liability and Disclaimers</a></li>
    <li><a href="#independent_relationship">Independent Relationship</a></li>
    <li><a href="#arbitration_agreement">Arbitration Agreement</a></li>
    <li><a href="#class_action_waiver_and_other_restrictions">Class Action Waiver and Other Restrictions</a></li>
    <li><a href="#indemnification">Indemnification</a></li>
    <li><a href="#integration">Integration</a></li>
    <li><a href="#severability">Severability</a></li>
    <li><a href="#jurisdiction">Jurisdiction</a></li>
    <li><a href="#notice_to_california_users">Notice to California Users</a></li>
    <li><a href="#termination_and_survival">Termination and Survival</a></li>
    <li><a href="#contact_information">Contact Information</a></li>
  </ol>



  <h1>DEVSCHOOL LLC Terms of Use</h1>

  <h3>As Amended February 26th, 2016</h3>

  <p>The following Terms of Use (the "Terms") shall apply when Users view, use, or make purchases through Company Services. Please review the Terms carefully. By accessing or using the Services, you signify your agreement to these Terms. If you do not agree to these Terms, you may not access Company Services. These Terms shall include Company’s Privacy Policy, which is incorporated by reference in these Terms.</p>

  <h2><a  name="definitions"></a>1. Definitions</h2>
  <ul>
    <li>"Company" shall refer to the company DevSchool, LLC, a Nevada Limited Liability Corporation engaged in the business of providing a software development education website;</li>

    <li>"Terms" shall collectively refer to these Terms of Service and the linked Privacy Policy;</li>

    <li>"Services" shall collectively refer to all services offered by Company including, but not limited to, access to its website and mobile application, online products and services, and ability to purchase consumer goods and services; and</li>

    <li>"User" shall refer to any person or entity accessing, using, or making purchases through Company Services.</li>
  </ul>
  <h2><a  name="changes_to_terms_of_service_and_notices"></a>2. Changes to Terms of Service and Notices</h2>

  <p>Company may modify the Terms at any time, under its discretion. Should there be any material changes to the Terms, Users shall be notified with a one (1) month notice prior to the effective date of the new terms. It shall be posted on Services and on the Company mobile application if applicable. At the beginning of each set of Terms, the effective date shall be posted. Users agree the continued access of Services after the effective date, warrants their acceptance to the modifications.</p> 

  <h2><a  name="paid_services"></a>3. Paid Services</h2>

  <p>Company may provide certain portions of Services for a fee or charge. If Users select to use paid aspects of the Service, they agree to the pricing and payment terms listed on the website. Company may update the prices from time to time, at its sole discretion. Company may also add new Services for additional fees and charges, or amend fees and charges for existing services, at any time, in its sole discretion. Any changes in Company pricing structures shall become effective the billing cycled subsequent to notice of such price change. </p>

  <p>If a User account remains unpaid, Company reserves the right to block access to it until the account balance is paid in full. If any charges are incurred by Company that were necessary for the collection of a delinquent account or chargeback, such amount shall also be repaid to unlock Users’ account. </p>

  <h2><a  name="refund_policy"></a>4. Refund Policy</h2>

  <p>Should you no longer wish to use Company Services, Users will receive a pro-rated refund based on the number of days you've spent in the program, minus a non-refundable fee of fifteen-hundred dollars ($1500). Company reserves the right, under its full discretion, to pay the refund out in monthly installments or in full in a one-time payment.</p>

  <h2><a  name="service_eligibility"></a>5. Service Eligibility</h2>

  <p>In order to use Services, Users must be 18 years old, or older, and have the requisite power and authority to accept these Terms. If one is under 18 years of age, such person is strictly prohibited from using Services. </p>

  <p>People, businesses, or otherwise, may not access Services if they are a known or unknown competitor, or if they have been previously banned from Services. If you are using Services on behalf of a company, entity, or organization, then you represent and warrant you are: an authorized representative of such organization; have the requisite authority to bind the organization to these Terms; and agree to be bound by these Terms on behalf of such organization. </p>

  <h2><a  name="service_permission"></a>6. Service Permission</h2>

  <p>Company grants Users permission to use Services subject to all restrictions set out in these Terms. Use of Services is at User’s own risk, including the risk of exposure to offensive, indecent, inaccurate, objectionable, or otherwise inappropriate content. </p>

  <h2><a  name="service_availability"></a>7. Service Availability</h2>

  <p>Company provides Services to Users, and Services may be interrupted, suspended, un-secure, modified, updated, discontinued, or unavailable in particular locations. This may happen without notice from Company, and Company shall not be held liable for any problems regarding Services availability. </p>

  <h2><a  name="communication_data_retention_and_services"></a>8. Communication, Data Retention, and Services</h2>

  <p>Users may submit an email address where they can receive emails from Company, regarding communication in connection with Services. Users may opt out of communications by following the directions located at the bottom of each communication. </p>

  <p>In order to provide Services to Users, Company may collect and store highly sensitive information ("HSI") including, but not limited to: User legal names, addresses, purchase history, browsing history, cookie information, financial information including credit cards and banking information, email addresses, passwords, and usernames. If obtained, Company will keep HSI for the shortest possible duration that is reasonably necessary in order to carry out the task for which it was collected. Company has taken all reasonable and appropriate security measures to ensure the security of HSI. Furthermore, any and all data and communications shall be retained to minimally meet any applicable legal or ethical reporting or document retention requirements. </p>

  <p>Company hereby warrants it will not sell any User information, including HSI, to any third party. However, in the even Company undergoes a business transaction such as a merger, acquisition by another company, or sale of all or a portion of its assets, User personal information may be among the assets transferred. User hereby acknowledges and consents that such transfers may occur and are permitted under these Terms and this Policy, and that any acquirer of Company assets may continue to process personal information as set forth in these Terms and the Privacy Policy. </p>

  <h2><a  name="company_intellectual_property"></a>9. Company Intellectual Property</h2>

  <p>Company owns all intellectual property connected to Services, including but not limited to its website, applications, or otherwise. This shall include visual interfaces, graphic design, website design, logo, application development, interactive features, compilation, technological code, software, Company hardware, and any method of compiling or analyzing Users’ Content. This shall be considered Company intellectual property, which is protected worldwide by copyrights, trademarks, trade secrets, and any other applicable intellectual property rights. These rights shall apply to property now existing or that which is created in the future by Company. User may not copy, reproduce, distribute, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of Company content on Services. Such unauthorized use may violate copyright, trademark, and communication regulations.</p>

  <p>Company shall be able to use any ideas or suggestions made by Users in their Company Services, if Company chooses to do so. User is not entitled to any remuneration of any kind, under any circumstances, for such information. Any submitted suggestion shall provide Company with complete ownership and any intellectual property rights arising therefrom. Company shall be entitled to unrestrictive use of such information.</p>

  <h2><a  name="privacy_policy"></a>10. Privacy Policy</h2>

  <p>By using Company Services, website, or application, Users hereby agree to the Company’s Privacy Policy which may be found at: https://www.devschool.rocks/privacy.</p>

  <h2><a  name="prohibited_conduct"></a>11. Prohibited Conduct</h2>

  <p>User hereby agrees, while using Services, not to commit any of the following actions:</p>

  <ul>
    <li>Upload content or any information that could damage, disable, overburden, or impair any of Company’s servers or networks; </li>
    <li>Attempt to gain any unauthorized access to other Users’ account, Company computer networks, systems or infrastructure, by any means;</li>
    <li>Attempt to gain access to other Users’ accounts, for any reason;</li>
    <li>Use data mining, robots, or other data gathering devices on or through Services;</li>
    <li>Frame or link to the Services without express permission;</li>
    <li>Attempt in any way to reverse engineer, decompile, interrupt, or disassemble, any part of Services or its security features;</li>
    <li>Modify, distribute, reproduce, copy, adapt, or create any derivative work in any way, of Service;</li>
    <li>In any way restrict other Users or persons from gaining access or creating accounts;</li>
    <li>Use any technology or tool that automatically retrieves, alters, or combines Company content or Services;</li>
    <li>Reverse engineer any content, Services, website, or application of Company and its Users;</li>
    <li>Breach Company rights regarding intellectual property rights, or otherwise; or</li>
    <li>Use the Services or content to transmit any computer viruses, Trojan horses, worms, or otherwise, that could potentially cause any damage to software or hardware of Users or Company.</li>
  </ul>
  <h2><a  name="devschool_accounts"></a>12. Devschool Accounts</h2>

  <p>In order to use Services, Users must create a User Account and provide personal information for its creation. Users are solely responsible for remembering and maintaining the security of their usernames and passwords. Users must notify Company of any unauthorized access to Users Accounts. Company may suspend, terminate, modify, or delete User Accounts, with or without notice, to Users, at any time and for any reason. Users are required to provide complete and accurate information in the creation of their User Accounts. Users are expressly prohibited form creating names with false information, false names, false business names, or creating multiple User Accounts. </p>

  <p>Members may delete their Account, Account Content, and all other Account information, at any time, by sending an email to Company to the address below with the following subject line:</p>

  <p>To: help@devschool.rocks 
  Subject: Account Termination</p>


  <h2><a  name="third_party_sites_and_embedded_content"></a>13. Third Party Sites and Embedded Content</h2>

  <p>Services may contain links, and embedded content from, third party websites, as well as services not operated by Company. Company does not control these services. Linked sites may be provided as a service to Users, and does not imply any endorsement of the activities or content of these sites, nor any association with its operators. Users assume any and all risks, known or unknown, now existing or existing in the future, by following a link to a linked site.</p>

  <h2><a  name="limited_liability_and_disclaimers"></a>14. Limited Liability and Disclaimers</h2>

  <p>The following information applies to the maximum extent permitted under law. User rights are not limited beyond those they are rightfully entitled to. By using Company Services, Users hereby agree to the following Terms, and Users forfeiting certain legal rights they may otherwise be entitled to you. If a User is uncertain of any of the following, it is suggested they consult a legal professional.</p>
  <ul>
    <li>Availability. Company provides Services on an "as is" and "as available” basis for Users’ use.  Company does not guarantee Services will be available in any location for any User, or that Services will always be available at any given time. Company does not warrant Services will be uninterrupted, timely, error-free, or secure. Furthermore, it does not warrant any defects will be corrected. Company does not guarantee its website or applications will be free from viruses or other harmful components. </li>

    <li>Security. Company makes every effort to keep its Services, Content, website, and application secure. Company accepts no liability for any loss, disruption, or damage incurred by Users to its data, computer, or software, that is a result of unauthorized access by any person who has caused a loss due to any data breach or hacking, even if such breach or hack was the mistake of Company. Users are responsible for taking their own precautions to ensure the electronic process employed for accessing Services, website, or application, does not expose them to the risk of viruses, malicious computer code, Trojan horses, worms, or otherwise, that may interfere, infect, or damage their computers, software, or data. Furthermore, Company limited liability shall extend should any Company computer, server, or software malfunction, and cause any Users any of the aforementioned losses. Company has taken precautions to prevent any malfunction, however User hereby agrees to accept full liability for any loss, of any kind, should they occur. </li>

    <li>Software Updates. Company may make software updates to it mobile application at any given time.  In order to use Services on mobile telecommunications, Users may be obligated to download the updated version of the applications. Company may choose to make downloading the updated version of the application a required precedent to continued use of Services. However, Company makes no guarantees any subsequent version of an application will work on Users mobile phone or devices.  Company is expressly not liable for any loss incurred due to Users inability to use Services due to the inability to use an updated version of the mobile application on their specific mobile device. </li>

    <li>Third Party Transactions. Users assume any and all risk associated with using Company’s website, application, or Services. Company, its parents, subsidiaries, affiliates, owners, directors, officers, employees, licensors, distributors, subcontractors, sub-licensees, independent contractors, and agents (collectively known as the "Company Parties") shall not be liable for any direct, indirect, incidental, consequential, special, punitive, or exemplary damages, or losses of any kind. These include without limitation, loss of profits, business, goodwill, use, data, or other intangible losses, whether based in contract, tort, negligence, strict liability, or otherwise, which may be incurred in connection with the use, or inability to use, Services, including interruption, inaccuracy, error, or omission. </li>

    <li>Limited Liability. Company does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the Company Service, hyperlink, website, or any of its applications. Users hereby agree to hold third parties solely liable for any and all claims regarding such transactions with third parties. Any products or services purchased or otherwise acquired by a third party, are separate legal transactions solely between Users and the relevant third party, and in no way involve Company. </li>

    <li>Disclaimer. Company expressly disclaims all warranties, express or implied, including but not limited to: implied warranties of merchantability; fitness for a particular purpose; non-infringement; warranties of title and accuracy; warranties regarding products and services offered by all businesses listed on Company’s website; and warranties in the course of dealing, performance or usage of trade. </li>

    <li>Remedies. Members’ sole remedy for dissatisfaction of Services, or other grievance, shall be termination and discontinued access to Services. </li>


    <li>Maximum Liability. Company’s maximum aggregate amount of liability for any loss or damage a User experiences in Company’s content, Services, website, application, or otherwise, shall not exceed $100. </li>
  </ul>  

  <h2><a  name="independent_relationship"></a>15. Independent Relationship</h2>

  <p>Users fully understand and accept in no way do these Terms, Services, or otherwise, create a joint venture, agency, partnership, or employment relationship with Company.  Company is not liable for any financial or other loss of Users in any way, on any transaction, under any circumstances. Users accept use of Company’s Services often involves financial exchange, and the Company shall bear no liability or responsibility therefor. </p>

  <h2><a  name="arbitration_agreement"></a>6. Arbitration Agreement</h2>
  <p>All claims and disputes arising under or relating to these Terms and Services are to be settled by binding arbitration in the state of Nevada or another location mutually agreeable to the parties. The arbitration shall be conducted on a confidential basis pursuant to the Commercial Arbitration Rules of the American Arbitration Association. Any decision or award as a result of any such arbitration proceeding shall be in writing and shall provide an explanation for all conclusions of law and fact and shall include the assessment of costs, expenses, and reasonable attorneys' fees. Any such arbitration shall be conducted by an arbitrator experienced in commercial arbitration and shall include a written record of the arbitration hearing. The parties reserve the right to object to any individual who shall be employed by or affiliated with a competing organization or entity. An award of arbitration may be confirmed in a court of diction. </p>

  <h2><a  name="class_action_waiver_and_other_restrictions"></a>17. Class Action Waiver and Other Restrictions. </h2>

  <p>Arbitration shall proceed solely on an individual basis without the right for any claims to be arbitrated on a class action basis or on bases involving claims brought in a purported representative capacity on behalf of others. The arbitrator's authority to resolve and make written awards is limited to claims between Users and Company alone. Claims may not be joined or consolidated unless agreed to in writing by all parties. No arbitration award or decision will have any preclusive effect as to issues or claims in any dispute with anyone who is not a named party to the arbitration. Notwithstanding any other provision in these Terms (including the "Continuation" provision below), and without waiving either party's right of appeal, if any portion of this "Class Action Waiver and Other Restrictions” provision is deemed invalid or unenforceable, then the entire Arbitration Provision, other than this sentence, shall sever and continue. </p>

  <h2><a  name="indemnification"></a>8. Indemnification</h2>

  <p>Users agree to indemnify, defend, and hold harmless, Company and Company Parties, from and against all: claims; injuries; damages; obligations; losses; lawsuits; attorney fees; legal fees or filing fees from any and all claims or demands made by any party related to Users’ use of Service, website, or applications; violations of these Terms, goods and services purchased; or misuse of User accounts. Company reserves the right to execute the exclusive defense of any issues arising out of such indemnification. Users are expressly prohibited from settling such claims without the prior written Consent of Company. </p>

  <h2><a  name="integration"></a>19. Integration</h2>

  <p>These Terms are the complete and exclusive statement and the mutual understanding of Users and Company. These Terms supersede and cancel all previous written and oral agreements and communications relating to the subject matter of these Terms. Any waivers or amendments shall be effective only if made in writing and signed by an agent of Company authorized to do so.</p>

  <h2><a  name="severability"></a>20. Severability</h2>

  <p>Company’s failure to exercise, delay in exercising, any privilege, any power or any rights hereunder will not operate as a waiver thereof, nor will any single or partial exercise of any right or power hereunder preclude further exercise of any other right hereunder. If any provision of these Terms shall be adjudged by any court of competent jurisdiction to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms shall otherwise remain in full force and effect and enforceable.</p>

  <h2><a  name="jurisdiction"></a>21. Jurisdiction</h2>

  <p>These Terms of Use, and any dispute legal or otherwise arising from its implementation, shall be deemed to have been made in, and shall be construed pursuant to the laws of the state of Nevada, and the United States of America. If any party brings a claim, parties hereby submit and consent to the personal and exclusive jurisdiction of the United States Federal Courts, within the State of Nevada.</p>

  <h2><a  name="notice_to_california_users"></a>22. Notice to California Users</h2>

  <p>Under California Civil Code Section 1789.3, users of Company Services are entitled to the following contact information: The Complaint Assistance Unit of the Division of Consumer Services at the California Department of Consumer Affairs may be contacted in writing or by telephone at:</p>
  <address>
    <ul>
      <li> R Street, Suite 1080</li>
      <li> Sacramento, California</li>
      <li> 95814</li>
      <li> Telephone: (916) 445-1254, or (800) 952-5210</li>
    </ul>
  </address>

  <h2><a  name="termination_and_survival"></a>23. Termination and Survival</h2>

  <p>If a User breaches Terms, or any part of the Terms, in any way, then Company may take action up to, and including, suspending Users’ access to Services or prohibiting them from accessing Company website or application. Company may take these actions without liability or notice to you. If a User’s account is terminated due to a breach in the Terms, Users will not be entitled to any refund of any kind. Furthermore, Users can be barred from any future use of Services. </p>

  <p>The following Sections of these Terms shall survive termination: Communication and Data Retention; Company Intellectual Property; Privacy Policy; Prohibited Conduct; Third Party Sites; Independent Relationship; Arbitration Agreement; Limited Liability and Disclaimers; Class Action Waiver and Other Restrictions; Indemnification; Exclusivity; Severability; Jurisdiction; Termination and Survival.</p>

  <h2><a  name="contact_information"></a>24. Contact Information</h2>
  <address>
    <ul>
      <li>Devschool</li>
      <li>8 THE GREEN Suite #4595</li>
      <li>Dover, DE</li>
      <li>19901</li>
      <li>help@devschool.rocks</li>
    </ul>
  </address>
</div>
