<%- content_for(:title) do %>
  Devschool | Terms of Service
<%- end %>

<div class="container padded-top">
  <div class="row">
    <div class="col-md-12">
      <h1>Terms of Service</h1>
      <em>DevSchool, llc.</em>

      <h3>Terms of Use Agreement</h3>
      <p>This Agreement was first published and made effective on January 1st, 2015. It was last updated November 2nd, 2015.</p>
      <p>Welcome to DevSchool, the website and online service of DevSchool, llc. (DevSchool, DevSchool, we, or us). This page explains the terms by which you may use our online and/or mobile services, web site, and software provided on or in connection with the service (collectively the Service). By accessing or using the Service, you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement and to the collection and use of your information as set forth in the DevSchool Privacy Policy https://www.devschool.rocks/privacy, whether or not you are a registered user of our Service. This Agreement applies to all visitors, users, and others who access the Service (Users).</p>
      <p>PLEASE READ THIS AGREEMENT CAREFULLY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION.</p>
      <p>DevSchool may, in it's sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change the Agreement, we will update the last modified date at the top of this page. If there are material changes to this Agreement, we will notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a notification. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Use. If you do not agree to any of these terms or any future Terms of Use, do not use or access (or continue to access) the Service.</p>

      <h4>Use of Our Service</h4>
      <p>DevSchool provides a safe, effective, interactive way to learn to build web pages and applications and general programming.</p>

      <h4>Eligibility</h4>
      <p>The Service is not available to any Users previously removed from the Service by DevSchool admins. It is also not available to anyone employed or payed by another development school.</p>

      <h4>DevSchool Accounts</h4>
      <p>Your DevSchool account gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion. We may maintain different types of accounts for different types of Users. If you open a DevSchool account on behalf of a company, organization, or other entity, then (a) you includes you and that entity, and (b) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to this Agreement, and that you agree to this Agreement on the entity’s behalf. By connecting to DevSchool with a third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.</p>
      <p>You may never use another User's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. We encourage you to use strong passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. You must notify DevSchool immediately of any breach of security or unauthorized use of your account. DevSchool will not be liable for any losses caused by any unauthorized use of your account.</p>
      <p>You may control your User profile and how you interact with the Service by changing the settings in your user profile settings page. By providing DevSchool your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such email messages, you may opt out or change your preferences in your user profile settings page. Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.</p>

      <h4>User Content</h4>
      <p>Some areas of the Service allow Users to post content such as profile information, comments, questions, and other content or information (any such materials a User submits, posts, displays, or otherwise makes available on the Service User Content). You retain ownership of your User Content.</p>
      <p>You agree not to post User Content that: (i) may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable; (vi) contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party’s trade secrets); (vii) contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; or (viii)contains any information or content that you know is not correct and current. You agree that any User Content that you post does not and will not violate third-party rights of any kind, including without limitation anent that you are the owner of all the copyright rights, including without limittence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</p>
      <p>In connecccurate.</p>
      <p>DevSchool takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts or sends over the Service. You shall be solely responsible for your User Content and the consequences of posting or publishing it, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose, and you agree that DevSchool shall not be liable for any damages you allege to incur as a result of User Content.</p>

      <h4>User Content License Grant</h4>
      <p>By posting any User Content on the Servicerform such User Content as permitted through the functionality of the Service and under this Agreement.</p>

      <p>If the features of the Service allow you to remove or delete User Content from the Service, the above licenses granted by you in your User Content terminate within a commercially reasonable time after you remove or delete such User Content from the Service. You understand and agree, however, that DevSchool may retain, but not display, distribute, or perform, server copies of User Content that have been removed or deleted. The above licenses granted by you in User Content for which the Service does not provide you a means to delets that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.</p>
      <p>We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.</p>
      <p>You are solely responsible for your interactions with other DevSchool Users. We reserve  understand and agree that regardless of terminology used, DevSchool Property represents a limited license right governed solely by the terms of this Agreement and available for distribution at DevSchool's sole discretion.</p>
      <p>DevSchool Property is not ontinuing their education with DevSchool.</p>

      <h4>Paid Services</h4>
      <p>Billing Policies. Certain aspects of the Service may be provided for a fee or other charge. If you elect to use paid aspects of the Service, you agree to the pricing and payment terms listed on the website, as we may update them from time to time. DevSchool may add new services for additional fees and charges, or amend fees and charges for existing services, at any time in its sole discretion. Any change to our pricing or payment terms shall become effective in the billing cycle following notice of such change to you as provided in this Agreement.</p>

      <p>DevSchool may lock your account for non-payment at any time. In addition to the amount due, delinquent accounts and/or chargebacks will be charged with fees and/or charges that are incidental to the collection of delinquent accounts and/or chargebacks including, but not limited to, collection fees and/or convenience fees and/or other third parties charges.</p>

      <p>You hereby explicitly agree that all communication in relation to delinquent accounts will be made by electronic mail or by phone, as provided to DevSchool by you. Such communication may be made by DevSchool or by anyone on its behalf, including but not limited to a third party collection agent.</p>

      <h4>Refund Policy</h4>

      <p>If you choose to drop out, you will receive a pro-rated refund based on the number of days you've spent in the program, minus a non-refundable fee of $899. We reserve the right to pay that out in monthly installments or in full at our discretion.</p>

      <p>Payment Information; Taxes. All information that you provide in connectiolly identifiable information collected, used, transferred to and processed in the United States.</p>

      <h4>Security</h4>
      <p>DevSchool cares about the integrity and security of your personal information. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.</p>

      <p>Please contact us at help@devschool.rocks with any questions regarding this Agreement.</p>
    </div>
  </div>
</div>
