<%- content_for(:title) do %>
  Where do I attend the Devschool online bootcamp?
<%- end %>

<div class="full-bg full-where"
     style="background: url(<%= image_path('heroes/where-bg.jpg') %>) no-repeat 100% 60% fixed;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 above-fold">
        <h1>Devschool is an Online Web Development School. We meet, learn, and code together, on the Interwebs.</h1>
        <h2><a data-scroll href="#below-the-fold">Scroll down</a> to find out more about our interactive environment.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">We use a combination of Screen Sharing and Live Audio to teach</h2>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We love Zoom</h3>

      <p class="tailline">This tool allows us to connect a single or multiple Students to an Instructor for our
      live interractive learning sessions where programming concepts are demonstrated in real time.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Audio Rocks</h3>
      <p class="tailline">When you type to get your job done, typing to talk isn't really an option. For this
      reason we employ Audio Chat (again through Zoom) so everyone can have a lively discussion.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Pair Programming</h3>
      <p class="tailline">During both the Private and the Open Sessions you will get to see master level code
      written before your eyes and explained in detail and of course these sessions can be recorded!</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row review-card" itemscope itemtype="http://schema.org/Review">
    <div class="col-md-offset-1 col-md-4">
      <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
        <span class="hidden" itemprop="name">Devshool Online Developer Bootcamp</span>
      </div>
      <span class="hidden" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span itemprop="ratingValue">5</span> stars</span>
      </span> 
      <%= image_tag image_path("reviewers/jorge-madrid.png"), class: "reviewer-photo reviewer-photo-shadow img-responsive center-block",
        height: "282px", width: "300px"%>
    </div>
    <div class="col-md-5">
      <blockquote itemprop="reviewBody">
        <p>My instructor Jim was the best programming teacher I have had. He is fun, easy going, and when things get hard he doesn't mind repeating a concept until you get the point, and I learned a lot from him that my bootcamp missed.</p>
        <p>Devschool not only helped me learn the skills I would need day to day, Jim also helped me prepare for the interview! I highly recommend Devschool!</p>
      </blockquote>
        <div class="reviewer" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span  itemprop="name">Jorge Madrid</span> - Bogotá, Columbia
        </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>It's Dangerous to go alone! Here take this!</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Learning to become a web developer is tough</h3>
        <p>There will be times when you feel 'dumb' or overwhelmed. That is completely
        normal. Jim is here to make the process as painless as possible, like going
        dungeon crawling with a high level friend who can protect you and shine a
        light in your direction when you are stuck.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Pair programming is our lifeblood at Devschool</h3>
        <p>But it doesn't have to be painful. The only time you are forced to pair with anyone
        specifically will be with your instructor. The rest of the pair programming you will do
        will be on "self assembling teams"</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Jim will keep you on task and on track</h3>
        <p>Your homework will be to continue working on your application in between sessions
        with Jim. During that time you will learn to master your searching skills to pluck out 
        the information you want from the mass of noise out there.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 faq-section">
      <h2>Devschool Online Developer Bootcamp - The WHERE FAQ</h2>

      <p>Devschool is an online developer web developer bootcamp and we are accessible
      to North and South America as well as Europe and even Australia and New Zealand!
      Our remote nature matches the world of software development well and it allows us
      to have amazing students from around the globe!</p>

      <h3>Q. So we meet online, how does that work?</h3>

      <p>A. Devschool utilizes a mixture of technologies to accomplish a "connected"
      environment and culture for our Students. This is not like Udemy where you
      feel like you are in it alone. We promote a very social atmosphere.</p>

      <p>We use <a rel="nofollow" href="https://www.flowdock.com/">Flowdock</a> for
      our chat program, but it is really so much more then that! It allows contextual
      conversations so what you are talking about doesn't get mixed up with other
      people's messages that have nothing to do with what you are saying.</p>

      <h3>Q. What about screensharing? How does that work exactly?</h3>

      <p>A. We use a program called <a rel="nofollow" href="http://zoom.us/">Zoom</a> 
      to broadcast our private and group sessions.
      This allows the Instructor to share his screen and work and demonstrate things
      with live lessons, or to switch over to a student's machine and fix something
      for them.</p>

      <p>It works best with Mac but there is a version for Linux as well.</p>

      <h3>Q. How can we see our Instructor's calendar?</h3>

      <p>You will be given a <a rel="nofollow" href="http://teamup.com">Teamup Calendar</a>
      link and will be able to view the calendar online whenever
      you need it. You can even import it into whatever calendar program you 
      already use! Each month you and your Instructor will choose your private
      session schedule and those appointments will show up in that calendar.</p>

      <p>If you need to cancel or reschedule it is never a problem, just let your
      Instructor know with as much notice as possible and they will reschedule it.</p>

    </div>
  </div>

  <p class="well next">Awesome, we meet online so I can attend from virtually anywhere! <%= link_to "How much does this program cost?", price_path %></p>

  </div>

