<%- content_for(:title) do %>
  Who is going to teach me web development at Devschool?
<%- end %>

<div class="full-bg full-who">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>Meet your <strong>Expert Instructor</strong> and <strong>Web Developer</strong> of over <strong> 18 years</strong></h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to find out more about Jim's teaching style and personality!</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Jim has been building websites since around 1998</h2>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Self Trained</h3>

      <p class="tailline">Jim made a successful career in software and web development
      with no high school diploma or college education. He is self made and self taught.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">A Real Craftsman</h3>
      <p class="tailline">Being an expert coder is one thing, but until you start to build
      and design your own tools and apply the scientific process to your craft, you are just a code monkey.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">a friendly teacher</h3>
      <p class="tailline">Jim prides himself at being patient and and accessible. There are
      no stupid questions and when you feel overwhelmed Jim will talk you out of your funk.</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>It's Dangerous to go alone! Here take this!</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
          <h3 class="heading">Learning to become a web developer is tough</h3>
        <p>There will be times when you feel 'dumb' or overwhelmed. That is completely
        normal. Jim is here to make the process as painless as possible, like going
        dungeon crawling with a high level friend who can protect you and shine a
        light in your direction when you are stuck.</p>
      </div>

      <div class="col-md-4">
          <h3 class="headline">Pair programming is our lifeblood at Devschool</h3>
        <p>But it doesn't have to be painful. The only time you are forced to pair with anyone
        specifically will be with your instructor. The rest of the pair programming you will do
        will be on "self assembling teams"</p>
      </div>

      <div class="col-md-4">
          <h3 class="headline">Jim will keep you on task and on track</h3>
        <p>Your homework will be to continue working on your application in between sessions
        with Jim. During that time you will learn to master your searching skills to pluck out 
        the information you want from the mass of noise out there.</p>
      </div>
    </div>
  </div>

  <p class="well next">Jim sounds like he knows his stuff and is a pretty good teacher too. <%= link_to "So where do we meet for class?", where_path %></p>

</div>
