<%- content_for(:title) do %>
  Who teaches at the Devschool online dev bootcamp?
<%- end %>

<div class="full-bg full-who">
  <div class="container">
    <div class="row">
      <div class="col-md-12 above-fold">
        <h1>Meet your <strong>Expert Instructor</strong> and <strong>Web Developer</strong> of over <strong> 18 years</strong></h1>
        <h2><a data-scroll href="#below-the-fold">Scroll down</a> to find out more about Jim's teaching style and personality!</h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Jim has been building websites since around 1998</h2>
      <h3 class="headline">In the past 3 years he has helped over 600 developers learn to program or helped
        them wrestle their web applications into shape as the #1 Ruby and Rails Web
        Development Mentor at <a rel="nofollow" href="https://www.codementor.io/devschool">
          Codementor</a> and also at <a rel="nofollow" href="http://rubymentor.io/">RubyMentor</a>
        before we aquired them.</h3>

      <h4 class="headline">You can read the 100+ positive reviews that were left for him at Codementor <a rel="nofollow" href="https://www.codementor.io/devschool#/review">here</a>.</h4>

    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Self Trained</h3>

      <p class="tailline">Jim made a successful career in software and web development
      with no high school diploma or college education. He is self made and self taught.</p>

    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">A Real Craftsman</h3>
      <p class="tailline">Being an expert coder is one thing, but until you start to build
      and design your own tools and apply the scientific process to your craft, you are just a code monkey.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">a friendly teacher</h3>
      <p class="tailline">Jim prides himself at being patient and and accessible. There are
      no stupid questions and when you feel overwhelmed Jim will talk you out of your funk.</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Learning to become a web developer is tough</h3>
        <p>There will be times when you feel 'dumb' or overwhelmed. That is completely
        normal. Jim is here to make the process as painless as possible, like going
        dungeon crawling with a high level friend who can protect you and shine a
        light in your direction when you are stuck.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Pair programming is our lifeblood at Devschool</h3>
        <p>But it doesn't have to be painful. The only time you are forced to pair with anyone
        specifically will be with your instructor. The rest of the pair programming you will do
        will be on "self assembling teams"</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Jim will keep you on task and on track</h3>
        <p>Your homework will be to continue working on your application in between sessions
        with Jim. During that time you will learn to master your searching skills to pluck out 
        the information you want from the mass of noise out there.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 faq-section">
      <h2>Devschool Online Developer Bootcamp - The WHO FAQ</h2>

      <p>Devschool was founded by Jim OKelly after several years of teaching web
      developers of all skill levels at Codementor and Rubymentor where he assisted
      hundreds of developers and a couple dozen Entrepreneurs building web
      applications.</p>


      <h3>Q. And who is this Jim OKelly again?</h3>

      <p>A. He is an extremely talented web developer, technology writer and more
      recently, a nerd who has fallen in love with the experience of educating students
      in the ways of the internets and web apps.</p>

      <p>As a contractor he was able to work with many companies during his career on
      many different platforms, technolgies and he was exposed to many great minds
      along the way, always sponging from the better developers around himself.</p>

      <p>Among these companies he built software for Apple, Intel, and Microsoft. He
      worked at many startups along the way like Zairmail in the 00s and SMS.ac a bit
      later, learning what differed in the passion fueld world of startups vs the
      slow and methodical ways of the Enterprise.</p>

      <h3>Q. How did he get into technology education?</h3>

      <p>A. For the last several years, Jim has been the #1 Ruby and Rails Mentor at
      <a rel="nofollow" href="https://codementor.io">Codementor.io</a> and last year
      he helped found <a href="https://rubymentor.io">Rubymentor</a> to provide more
      long-term education options for his students.</p>

      <h3>Q. What does he strongly believe in?</h3>

      <p>A. As you will be spending a lot of time with Jim it is only fair you get to
      know a bit about what he thinks and feel on the things that matter the most to him.
      We will let him answer:</p>

      <p>"I would describe myself as a democratic socialist and a serial expatriate. I
      am big on people, but not big on Nationalism. I am original a US citizen, but I have
      not lived there in almost 10 years now. I am a peace, love, and factual information
      kind of guy, balancing a wild side that craves adventure and heightened states
      of being with a side that is creative yet highly logical. I like the intersection
      of people and computers."</p>

    </div>
  </div>

  <p class="well next">Jim sounds like he knows his stuff and is a pretty good teacher too. <%= link_to "So where do we meet for class?", where_path %></p>

</div>
