<%- content_for(:title) do %>
Meet your new Devschool online coding bootcamp instructor!
<%- end %>

<%- content_for(:description) do %>
Jim OKelly has been building web applications since 1998 and has built software
for Apple, Intel, Microsoft, Groupon, now he teaches our online coding bootcamp!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/coding-bootcamp/who
<%- end %>

<div class="full-bg full-who"
     style="background: url(<%= image_path('heroes/who-2-bg.jpg') %>) no-repeat 50% 50% fixed;">
     <div class="container">
       <div class="row vertical-center">
         <div class="col-md-12 above-fold text-center">
           <h2>Meet the Principle Instructor of our </h2>
           <h1>online coding bootcamp </h1>
          <h2>- Jim has been a Web Developer <strong>for more then 18 years</strong>
           </h2>

        <h3><a data-scroll href="#below-the-fold"
               class="btn btn-attention btn-lg">TELL ME MORE ABOUT JIM</a></h3>
         </div>
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Jim has been a professional web developer and software engineer since 1998</h2>
      <h3 class="headline">In the past 3 years he has helped over 600 developers learn to program or helped
        them wrestle their web applications into shape as the #1 Ruby and Rails Web
        Development Mentor at <a rel="nofollow" href="https://www.codementor.io/devschool">
          Codementor</a> and also at <a rel="nofollow" href="http://rubymentor.io/">RubyMentor</a>
        before we acquired them.</h3>

      <h4 class="headline">You can read the 100+ positive reviews that were left for him at Codementor <a rel="nofollow" href="https://www.codementor.io/devschool#/review">here</a>.</h4>

    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Self Trained</h3>

      <p class="tailline">Jim made a successful career in software and web development
      with no high school diploma or college education. He is self made and self taught.</p>
      <p class="tailline">He spent the last 18 years not just working on his programming skills, but also looking for ways to edge out better educated competitors. He hones his tools and work-flows and demonstrated a mastery of his skills to do so.</p>

    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">A Real Craftsman</h3>
      <p class="tailline">Being an expert coder is one thing, but until you start to build
      and design your own tools and apply the scientific process to your craft, you are just a code monkey. That one-trick pony only works for so long.</p>
      <p class="tailline">Jim learned quickly that the programmers who were most desired by companies where those who were masters of their craft, and masters focus on work-flow, tools, and measuring results.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">A friendly teacher</h3>
      <p class="tailline">Jim prides himself at being patient and accessible. There are
      no stupid questions and when you feel overwhelmed Jim will talk you out of your funk.</p>
      <p class="tailline">A huge part of learning is not knowing, and then getting it wrong. Starting out with that premise makes it a lot easier to handle reasonable expectations! Jim has banged his head and bled his knuckles too.</p>
    </div>
  </div>

</div>

<div class="colored-section blue">

  <div class="row review-card" itemscope itemtype="http://schema.org/Review">
    <div class="col-md-offset-1 col-md-4">
      <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
        <span class="hidden" itemprop="name">Devschool Online Coding Bootcamp</span>
      </div>
      <span class="hidden" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span itemprop="ratingValue">5</span> stars</span>
      </span> 
      <%= image_tag image_path("reviewers/chris-bastian.png"), alt: "Chris Bastian, graduate of Devschool's online developer botocamp program", class: "img-circle reviewer-photo reviewer-photo-shadow img-responsive",
        height: "282px", width: "300px"%>
      <div class="text-center reviewer" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Chris Bastian</span>
        <div class="text-small">California, United States</div>
      </div>
    </div>
    <div class="col-md-5">
      <blockquote itemprop="reviewBody">
        <p>I really like working with Jim.  I find him helpful, patient and extraordinarily 
        knowledgeable.  He is able to help me with basic issues and give me a larger 
        contextual overviews of how to approach coding.</p>

        <p>Jim has also been able to help me lay a foundation for individual learning - 
        establishing smaller lessons as well as longer-term projects. Every coding 
        question I have - Jim has been able to give me insight on.</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Learning to become a web developer is tough</h3>
        <p>There will be times when you feel 'dumb' or overwhelmed. That is completely
        normal. Jim is here to make the process as painless as possible, like going
        dungeon crawling with a high level friend who can protect you and shine a
        light in your direction when you are stuck.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Pair programming is our lifeblood at our coding bootcamp</h3>
        <p>But it doesn't have to be painful. The only time you are forced to pair with anyone
        specifically will be with your instructor. The rest of the pair programming you will do
        will be on "self assembling teams"</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Jim will keep you on task and on track</h3>
        <p>Your homework will be to continue working on your application in between sessions
        with Jim. During that time you will learn to master your searching skills to pluck out 
        the information you want from the mass of noise out there.</p>
      </div>
    </div>
</div>

<div class="well squeeze">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'mailchimp' %>
      </div>
    </div>
  </div>
</div>


<div class="section-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 faq-section">
        <h2>All about our Instructors - FAQ</h2>

        <p>Our coding bootcamp was founded by Jim OKelly after several years of
        teaching web developers of all skill levels at Codementor and 
        RubyMentor where he assisted hundreds of developers and a couple 
        dozen Entrepreneurs building web applications.</p>

        <h3>Q. And who is this Jim OKelly again?</h3>

        <p>A. He is an extremely talented web developer, technology writer and more
        recently, a nerd who has fallen in love with the experience of educating students
        in the ways of the internets and web apps.</p>

        <p>As a contractor he was able to work with many companies during his career on
        many different platforms, technologies and he was exposed to many great minds
        along the way, always sponging from the better developers around himself.</p>

        <p>Among these companies he built software for Apple, Intel, and Microsoft. He
        worked at many startups along the way like Zairmail in the 2000s and SMS.ac a bit
        later, learning what differed in the passion fueled world of startups vs the
        slow and methodical ways of the Enterprise.</p>

        <h3>Q. How did he he become a coding bootcamp instructor?</h3>

        <p>A. For the last several years, Jim has been the #1 Ruby and Rails Mentor at
        <a rel="nofollow" href="https://codementor.io">Codementor.io</a> and last year
        he helped found <a rel=nofollow href="https://rubymentor.io">RubyMentor</a> to provide more
        long-term education options for his students.</p>

        <p>He has trained several dozen coding bootcamp students in various stages of their
        education, and Jim continually found them lacking in fundamental understanding
        in what they were doing. The code was heavily copy and paste from tutorials
        and stack overflow, creating a tangled mess of icky.</p>

        <p>Jim founded first RubyMentor, and then Devschool to address this gap in the
        training traditional coding bootcamps receive. The first and foremost mission of this
        school is to provide the highest level of expert training to our students.</p>

        <h3>Q. What does Jim stand for? Does he have principles?</h3>

        <p>A. As you will be spending a lot of time with Jim it is only fair you get to
        know a bit about what he thinks and feel on the things that matter the most to him.
        We will let him answer:</p>

        <p>"I would describe myself as a democratic socialist and a serial expatriate. I
        am big on people, but not big on Nationalism. I am original a US citizen, but I have
        not lived there in almost 10 years now. I am a peace, love, and factual information
        kind of guy, balancing a wild side that craves adventure and heightened states
        of being with a side that is creative yet highly logical. I like the intersection
        of people and computers."</p>

        <h3>Q. How did Jim get his start in programming and when was that?</h3>

        <p>A. Jim has been a "curious little devil" (quoting his Father) his whole life,
        first taking apart satellite hardware and video recorder devices and later computers.
        Seeing what makes things tick is a driving force in his background and personality.</p>

        <p>Later he got an Apple IIe and learned BASIC from books at 11 years old. At one
        point he was kicked out of his school for a fight he was involved in. The problem?
        Someone shut off his computer before he could save a program he had been working on.
        Jim has always deeply cared about code, maybe a little too much.</p>

        <h3>Q. What kind of formal education did he receive?</h3>

        <p>A. Jim is an Autodidact, meaning he is self-taught, although he will be quick to tell
        you that "No one learns very much from themselves, they learn from others mostly."</p>

        <p>He left High School early to get his GED in 1998 and went on to work for a local
        Internet Service Provider writing customer service management software in C, a skill
        Jim picked up by writing code for online games called MUDs.</p>

        <h3>Q. What degrees does Jim OKelly hold?</h3>

        <p>A. He holds no degrees, nor plans on getting any. He has spent his spare time
        picking up a great many diverse skills however from Sailing to Japanese Joinery to
        Boat Building to Animal Husbandry to a strong interest in Biology and Genetics.</p>

        <h3>Q. Has he done any work in the work of Academia?</h3>

        <p>A. Jim has done work for projects funded by NASA which involved Universities
        around the world collecting various atmospheric, oceanographic, and seismic
        data in orchestration.</p>

        <p>Another piece of work Jim is extremely proud of is his work on helping decode
        the tuberculosis genome by writing software that joined gigantic bits of information
        from many researchers around the world to analyze, assemble and display the genomic
        information!</p>

        <h3>Q. Jim is a US citizen, so who would he vote for?</h3>

        <p>A. Bernie Sanders 2016</p>

        <h3>Q. Should marijuana be legal?</h3>

        <p>A. Absolutely</p>
    <p class="well next">Jim sounds like he knows his stuff and is a pretty good 
    teacher too. <%= link_to "So where do we meet for class?", where_path %></p>
      </div>
    </div>
  </div>
</div>
