<div class="full-bg full-how">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>At Devschool you learn by doing, writing and refactoring code with 
          your expert instructor!</h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to learn more
          about how our program works</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Build real world applications that solve real problems</h2>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">one on one</h3>
      <center><%= image_tag asset_path("one-on-one-3rd.png"), class: "img-responsive" %></center>

      <p class="tailline">Get weekly guided expert experience through
      pair programming on your real-world apps</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">team work</h3>
      <center><%= image_tag asset_path("teamwork-3rd.png"), class: "img-responsive" %></center>
      <p class="tailline">Participate in daily group sessions led by 
      your instructor solving problems as a team</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">homework</h3>
      <center><%= image_tag asset_path("homework-3rd.png"), class: "img-responsive" %></center>
      <p class="tailline">Your curriculum formed by the challenges
      you encounter building your application</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row review-card">
    <div class="col-md-offset-1 col-md-4">
      <center><%= image_tag asset_path("reviewers/mehgan-holden.png"), class: "reviewer-photo img-responsive" %></center>
    </div>
    <div class="col-md-5">
      <blockquote>
        <p>At Devschool I learned the skills that I needed to land the job I 
        have today. I completed my Web Development course in 18 weeks as 
        I had other obligations and Devschool was flexible enough for me to 
        handle both!</p>

        <p>I would recommend the Web Developers course at Devschool to anyone 
        who wants to cut through the cruft and really, really learn the skills 
        they will need to build modern web applications.</p>

        <footer>Mehgan Holden - New York, United States</footer>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Level up your studies with a real Apprenticeship</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Get direct, one on one help</h3>
        <p>You have questions. Get clear, precise answers directly from your Instructor.
           You will connect with them weekly live and in person, or during the school
           day when they are free for a quick chat.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Screensharing and pairing</h3>
        <p>Interact in real-time using sophisticated video/audio/screenshare software
           with your Instructor. This can save countless hours of "floundering in the
          dark" on problems.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">A guided learning experience</h3>
        <p>Sometimes you don't know what you don't know, making it difficult to know
           what to look for or what to ask. You expert Instructor can help you make
           breakthroughs in your application and learning in record time!</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <h3 class="headline">Complex concepts, simplified</h3>
        <p>Get complex problems broken down into a small series of understandable, and
        repeatable patterns. Having difficult concepts solved in person, one on one
        is much simpler than absorbing it from a book.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">An encouraging environment</h3>
        <p>When learning difficult concepts for the first time, it helps to have an
        encouraging environment. Devschool won't make you feel stupid for not 
        knowing something.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Based on a proven methodology</h3>
        <p>Your Instructor is not just a great programmer with more than a few
           grey hairs. Jim has worked hard to perfect his teaching style, using
           a mix of German methodology and good ol' humanism to make learning easy.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Real World Software is built by <strong>Teams</strong></h2>
      <h3>Learn how to <strong>interact</strong> with your <strong>peers</strong> 
          on those projects</h3>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Learning online shouldn't be isolating</h3>

          <p>Between multiple sessions a week with your instructor and participating
             in the numerous open group sessions each week, you will have plenty
             of interaction with real people and real software.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Camaraderie and peer support helps</h3>
        <p>Self assembling teams are a great way to keep connected to your peers, and
           always have a second set of eyes on a problem when needed. Your peers share
           your deep investment in furthering your education.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Collaborate with your peers via GitHub</h3>
        <p>Create pull requests, comment on each other's code, make suggestions, and
           help each other write better software. Devschool teaches you simple
           work flows to engage on each others' projects.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <h3 class="headline">Complex concepts, simplified</h3>
        <p>Get complex problems broken down into a small series of understandable, and
        repeatable patterns. Having difficult concepts solved in person, one on one
        is much simpler than absorbing it from a book.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">An encouraging environment</h3>
        <p>When learning difficult concepts for the first time, it helps to have an
        encouraging environment. Devschool won't make you feel stupid for not 
        knowing something.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Based on a proven methodology</h3>
        <p>Your Instructor is not just a great programmer with more than a few
           grey hairs. Jim has worked hard to perfect his teaching style, using
           a mix of German methodology and good ol' humanism to make learning easy.</p>
      </div>
    </div>
  </div>

  <div class="vertical-padding"></div>

</div>
<!-- /.container -->
