.site-sprite {
  background-image: asset-url('site-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-ajax-loader {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-cannabis {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-position: -47px -5px;
}

.sprite-ds-fi-fb {
  width: 240px;
  height: 240px;
  background-position: -71px -5px;
}

.sprite-ds-logo {
  width: 176px;
  height: 34px;
  background-position: -321px -5px;
}

.sprite-email {
  width: 32px;
  height: 32px;
  background-position: -507px -5px;
  margin: 6px;
}

.sprite-facebook {
  width: 32px;
  height: 32px;
  background-position: -549px -5px;
  margin: 6px;
}

.sprite-google {
  width: 32px;
  height: 32px;
  background-position: -591px -5px;
  margin: 6px;
}

.sprite-jim_okelly {
  width: 250px;
  height: 250px;
  background-position: -507px -47px;
}

.sprite-large-square-red {
  width: 558px;
  height: 558px;
  background-position: -767px -5px;
}

.sprite-linkedin {
  width: 32px;
  height: 32px;
  background-position: -633px -5px;
  margin: 6px;
}

.sprite-reddit {
  width: 32px;
  height: 32px;
  background-position: -675px -5px;
  margin: 6px;
}

.sprite-squeeze-bg-1 {
  width: 516px;
  height: 290px;
  background-position: -5px -573px;
}

.sprite-steve-jobs {
  width: 300px;
  height: 282px;
  background-position: -531px -573px;
}

.sprite-sunshine {
  width: 14px;
  height: 14px;
  background-position: -717px -5px;
  display: inline-block;
}

.sprite-twitter {
  width: 32px;
  height: 32px;
  background-position: -1335px -5px;
  margin: 6px;
}
