.site-sprite {
  background-image: asset-url('site-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-ajax-loader {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-cannabis {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -47px -5px;
}

.sprite-ds-fi-fb {
  width: 240px;
  height: 240px;
  background-position: -71px -5px;
}

.sprite-ds-logo {
  width: 176px;
  height: 34px;
  background-position: -5px -255px;
}

.sprite-email {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -321px -5px;
}

.sprite-facebook {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -5px -47px;
}

.sprite-google {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -321px -47px;
}

.sprite-jim_okelly {
  width: 250px;
  height: 250px;
  background-position: -363px -5px;
}

.sprite-linkedin {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -191px -265px;
}

.sprite-reddit {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -233px -265px;
}

.sprite-sunshine {
  width: 14px;
  height: 14px;
  background-position: -623px -5px;
  display: inline-block;
}

.sprite-twitter {
  margin: 6px;
  width: 32px;
  height: 32px;
  background-position: -275px -265px;
}

