.site-sprite {
  background-image: asset-url('site-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-ajax-loader {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-cannabis {
  width: 14px;
  height: 14px;
  background-position: -47px -5px;
  display: inline-block;
}

.sprite-ds-fi-fb {
  width: 240px;
  height: 240px;
  background-position: -71px -5px;
}

.sprite-ds-logo {
  width: 176px;
  height: 34px;
  background-position: -321px -5px;
}

.sprite-email {
  width: 64px;
  height: 64px;
  background-position: -507px -5px;
}

.sprite-facebook {
  width: 64px;
  height: 64px;
  background-position: -581px -5px;
}

.sprite-google {
  width: 64px;
  height: 64px;
  background-position: -655px -5px;
}

.sprite-jim_okelly {
  width: 250px;
  height: 250px;
  background-position: -321px -79px;
}

.sprite-large-square-red {
  width: 558px;
  height: 558px;
  background-position: -729px -5px;
}

.sprite-linkedin {
  width: 64px;
  height: 64px;
  background-position: -1297px -5px;
}

.sprite-reddit {
  width: 64px;
  height: 64px;
  background-position: -581px -79px;
}

.sprite-squeeze-bg-1 {
  width: 516px;
  height: 290px;
  background-position: -5px -573px;
}

.sprite-sunshine {
  width: 14px;
  height: 14px;
  background-position: -5px -79px;
  display: inline-block;
}

.sprite-twitter {
  width: 64px;
  height: 64px;
  background-position: -655px -79px;
}

