.what-sprite {
  background-image: asset-url('what-spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-bash-zsh-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -5px;
}

.sprite-bootstrap-heading {
  width: 200px;
  height: 100px;
  background-position: -215px -5px;
}

.sprite-css-heading {
  width: 200px;
  height: 100px;
  background-position: -425px -5px;
}

.sprite-eric-douglas {
  width: 300px;
  height: 282px;
  background-position: -635px -5px;
}

.sprite-git-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -297px;
}

.sprite-homework-3rd {
  width: 312px;
  height: 187px;
  background-position: -215px -297px;
}

.sprite-html-heading {
  width: 200px;
  height: 100px;
  background-position: -537px -297px;
}

.sprite-javascript-heading {
  width: 200px;
  height: 100px;
  background-position: -747px -297px;
}

.sprite-jorge-madrid {
  width: 300px;
  height: 282px;
  background-position: -537px -407px;
}

.sprite-languages-icons {
  width: 329px;
  height: 198px;
  background-position: -5px -699px;
}

.sprite-linux-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -407px;
}

.sprite-mehgan-holden {
  width: 300px;
  height: 282px;
  background-position: -945px -5px;
}

.sprite-one-on-one-3rd {
  width: 312px;
  height: 187px;
  background-position: -957px -297px;
}

.sprite-osx-heading {
  width: 200px;
  height: 100px;
  background-position: -215px -494px;
}

.sprite-postgres-mongo-heading {
  width: 200px;
  height: 100px;
  background-position: -847px -494px;
}

.sprite-process-icons {
  width: 329px;
  height: 198px;
  background-position: -847px -604px;
}

.sprite-rails-heading {
  width: 200px;
  height: 100px;
  background-position: -1057px -494px;
}

.sprite-react-heading {
  width: 200px;
  height: 100px;
  background-position: -344px -812px;
}

.sprite-teamwork-3rd {
  width: 312px;
  height: 187px;
  background-position: -554px -812px;
}

.sprite-toolset-icons {
  width: 329px;
  height: 198px;
  background-position: -876px -812px;
}

.sprite-vim-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -1020px;
}

