.what-sprite {
  background-image: asset-url('what-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-bash-zsh-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -5px;
}

.sprite-bootstrap-heading {
  width: 200px;
  height: 100px;
  background-position: -215px -5px;
}

.sprite-css-heading {
  width: 200px;
  height: 100px;
  background-position: -425px -5px;
}

.sprite-git-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -115px;
}

.sprite-homework-3rd {
  width: 312px;
  height: 187px;
  background-position: -215px -115px;
}

.sprite-html-heading {
  width: 200px;
  height: 100px;
  background-position: -537px -115px;
}

.sprite-javascript-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -225px;
}

.sprite-languages-icons {
  width: 329px;
  height: 198px;
  background-position: -215px -312px;
}

.sprite-linux-heading {
  width: 200px;
  height: 100px;
  background-position: -554px -225px;
}

.sprite-one-on-one-3rd {
  width: 312px;
  height: 187px;
  background-position: -5px -520px;
}

.sprite-osx-heading {
  width: 200px;
  height: 100px;
  background-position: -5px -335px;
}

.sprite-postgres-mongo-heading {
  width: 200px;
  height: 100px;
  background-position: -554px -335px;
}

.sprite-process-icons {
  width: 329px;
  height: 198px;
  background-position: -327px -520px;
}

.sprite-rails-heading {
  width: 200px;
  height: 100px;
  background-position: -635px -5px;
}

.sprite-react-heading {
  width: 200px;
  height: 100px;
  background-position: -747px -115px;
}

.sprite-teamwork-3rd {
  width: 312px;
  height: 187px;
  background-position: -666px -445px;
}

.sprite-toolset-icons {
  width: 329px;
  height: 198px;
  background-position: -666px -642px;
}

.sprite-vim-heading {
  width: 200px;
  height: 100px;
  background-position: -764px -225px;
}

