.who-sprite {
  background-image: asset-url('who-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-chris-bastian {
  width: 300px;
  height: 282px;
  background-position: -5px -5px;
}

.sprite-codementor-shot {
  width: 1024px;
  height: 516px;
  background-position: -5px -297px;
}

.sprite-codementor-shot-2 {
  width: 1024px;
  height: 449px;
  background-position: -1039px -5px;
}
