<a href="/blog/coding-bootcamp-preview-free-week-of-code-puerto-vallarta">
  <h1>Devschool presents a coding bootcamp preview - free week of code in paradise</h1>
</a>
<div class="author">
  <img src="https://s3.amazonaws.com/devschool-shared/jim_okelly.png" class="img-circle img-responsive avatar"
       align=left hspace=12 vspace=12 />
</div>
<h3 class="author name">By Jim OKelly</h3>
<div class='article author role'>Devschool Instructor</div><div class="article timestamp">Last updated on 2015-12-28</div>
        <ul class="list-inline">
        <li>
	    <div class="fb-like"
	      data-href="https://www.facebook.com/Devschool-1089256231104556"
	      data-layout="standard"
	      data-action="like"
	      data-show-faces="false">
        </li>
        <li>
          <g:plusone data-href="https://plus.google.com/+DevschoolRocks-online-developer-bootcamp" size="medium" annotation="none"></g:plusone>
        </li>
        </ul>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"https://devschool/.rocks/blog/coding-bootcamp-preview-free-week-of-code-puerto-vallarta"
  },
  "headline": "Devschool presents a coding bootcamp preview - free week of code in paradise",
  "image": {
    "@type": "ImageObject",
    "url": "coding-bootcamp-preview-free-week-of-code-puerto-vallarta.png",
    "height": 200,
    "width": 200
  },
  "datePublished": "2015-12-28",
  "dateModified": "2015-12-28",
  "author": {
    "@type": "Person",
    "name": "Jim OKelly"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Devschool",
    "logo": {
      "@type": "ImageObject",
      "url": "https://s3.amazonaws.com/devschool-shared/large-square-red.png",
      "width": 200,
      "height": 200
    }
  }
}
</script>
<p>We are planning to open an on location coding school here in sunny, safe, friendly, Puerto Vallarta in 2017. That gives Devschool a chance to offer a preview of what that might look like, give us a way of letting students further evaluate us as their developer education choice, and a way for us to pilot and improve the "on the ground" service.</p>

<p>To that end we proudly present "A Free Week of Code in Paradise - A Coding Bootcamp Preview", and as titled, it is a week long event where prospective students or media enthusiasts can come learn a bunch of awesome stuff like how to configure Vim like a rockstar, to writing more functional, idiomatic, immutable Ruby code.</p>

<h2>Q. Where can I reserve my ticket?</h2>

<p>A. <a href="https://www.eventbrite.com/e/free-week-of-code-a-coding-bootcamp-introduction-in-paradise-tickets-20160454462">https://www.eventbrite.com/e/free-week-of-code-a-coding-bootcamp-introduction-in-paradise-tickets-20160454462</a></p>

<h2>Q. What will I learn specificall at this bootcamp preview?</h2>

<p>A. Since it is a bootcamp preview as well as being a free week of code, the things we will be teaching you will be heavily influenced by how we do things here at Devschool.</p>

<p>For instance we will teach you how to configure Vi from vanilla install to a rockstar developmen tool and how to use it like a true kneckbearded hacker. We will also teach you a bunch of UNIX command line tricks to make you a better developer.</p>

<p>To top it off, we will build some Ruby apps using Jim's own style of functional programming in Ruby and you will learn the difference between a function and a method, and why program state is a dangerous thing.</p>

<h2>Q. How much does this "Free Week of Code" cost?</h2>

<p>A. There is no registration or enrollment fee for this event. You will need a valid Passport and airfare. There is no Visa needed as you will get one when you land, and that is good for up to 3 months!</p>

<h2>Q. How much does airfare cost to Puerto Vallarta?</h2>

<p>A. Well, that mostly depends on where you are coming from and when you book your flight. But as the Mexican Government loves tourism and business, they subsidize air travel from North America. It is under $500 for a round trip for most US states for instance.</p>

<h2>Q. Where will I stay while I am at the week of code?</h2>

<p>A. We have room for 12 students in our dorm room here in Bucerias, Nayarit Mexico, about an hour north of the hustle and bustle (and car smog) of Puerto Vallarta. It is between the surf town of Sayulita and the Canadian filled Nuevo Vallarta and we are right on the ocean!</p>

<p>If you should decide to rent a cheap motel or house locally here you are welcome to do that as well but we would caution you against trying to book and pay for anything online unless it is through Orbitz or Kayak or a website like that. Rentals here can be a shady business.</p>

<h2>How many hours a day of instruction will I get?</h2>

<p>A. Each day consists of 2 hours of morning instruction at 11am and then another hour in afternoon for 4 days. On Friday those of us who want to, can go zip lining, or get drunk on a pirate ship depending on the crowd vote and mood. These events are purchased seperately, but we can get a great group deal so it will cost each person around $50-60 USD. These tours are provided by <a rel="nofollow" href="http://vallarta-adventures.com">Vallarta Adventures</a> and they really are a blast!</p>        <ul class="list-inline">
        <li>
	    <div class="fb-like"
	      data-href="https://www.facebook.com/Devschool-1089256231104556"
	      data-layout="standard"
	      data-action="like"
	      data-show-faces="false">
        </li>
        <li>
          <g:plusone data-href="https://plus.google.com/+DevschoolRocks-online-developer-bootcamp" size="medium" annotation="none"></g:plusone>
        </li>
        </ul>
