<a href="/blog/coding-bootcamp-preview-free-week-of-code-puerto-vallarta">
  <h1>Devschool presents a coding bootcamp preview - free week of code in paradise</h1>
</a>
<div class="author">
  <img src="https://s3.amazonaws.com/devschool-shared/jim_okelly.png" class="img-circle img-responsive avatar"
       align=left hspace=12 vspace=12 />
</div>
<h3 class="author name">By Jim OKelly</h3>
<div class='article author role'>Devschool Instructor</div><div class="article timestamp">Last updated on 2015-12-28</div>
        <ul class="list-inline">
        <li>
	    <div class="fb-like"
	      data-href="https://www.facebook.com/Devschool-1089256231104556"
	      data-layout="standard"
	      data-action="like"
	      data-show-faces="false">
        </li>
        <li>
          <g:plusone data-href="https://plus.google.com/+DevschoolRocks-online-developer-bootcamp" size="medium" annotation="none"></g:plusone>
        </li>
        </ul>
<p>We are planning to open an on location coding school here in sunny, safe, friendly, Puerto Vallarta in 2017. That gives Devschool a chance to offer a preview of what that might look like, give us a way of letting students further evaluate us as their developer education choice, and a way for us to pilot and improve the "on the ground" service.</p>

<p>To that end we proudly present "A Free Week of Code in Paradise - A Coding Bootcamp Preview", and as titled, it is a week long event where prospective students or media enthusiasts can come learn a bunch of awesome stuff like how to configure Vim like a rockstar, to writing more functional, idiomatic, immutable Ruby code.</p>    <p class="text-center">
<a href="/blog/coding-bootcamp-preview-free-week-of-code-puerto-vallarta" class="btn btn-primary btn-read-more">
Keep reading <i class="fa fa-angle-double-right"></i></a>
</p>
