<a href="/blog/eight-reasons-to-choose-devschool-as-your-online-dev-bootcamp">
  <h1>8 reasons to choose devschool as your online dev bootcamp</h1>
</a>
<div class="author">
  <img src="https://s3.amazonaws.com/devschool-shared/jim_okelly.png" class="img-circle img-responsive avatar"
       align=left hspace=12 vspace=12 />
</div>
<h3 class="author name">By Jim OKelly</h3>
<div class='article author role'>Devschool Instructor</div><div class="article timestamp">Last updated on December 27, 2015</div>
        <ul class="list-inline">
        <li>
	    <div class="fb-like"
	      data-href="https://www.facebook.com/Devschool-1089256231104556"
	      data-layout="standard"
	      data-action="like"
	      data-show-faces="false">
        </li>
        <li>
          <g:plusone data-href="https://plus.google.com/+DevschoolRocks-online-developer-bootcamp" size="medium" annotation="none"></g:plusone>
        </li>
        </ul>
<p>Everybody has their reasons. So we thought this might be a good opportunity to give you 8 great reasons why you should chose Devschool as your online dev bootcamp.</p>

<p>We think we are fairly unique in a cluttered space of mediocrity. At the very least, we value our Customers a little more and give them more personal attention than the "big box" dev bootcamps.</p>    <p class="text-center">
<a href="/blog/eight-reasons-to-choose-devschool-as-your-online-dev-bootcamp" class="btn btn-primary btn-read-more">
Keep reading <i class="fa fa-angle-double-right"></i></a>
</p>
