<a href="/blog/why-devschool-teaches-ruby-and-ruby-on-rails">
  <h1>Why Devschool Teaches Ruby and Ruby on Rails in our online coding bootcamp</h1>
</a>
<div class="author">
  <img src="https://s3.amazonaws.com/devschool-shared/jim_okelly.png" class="img-circle img-responsive avatar"
       align=left hspace=12 vspace=12 />
</div>
<h3 class="author name">By Jim OKelly</h3>
<div class='article author role'>Devschool Instructor</div><div class="article timestamp">Last updated on December 25, 2015</div>
<p>We have been asked many times why it is that we love Ruby and use it to teach students web development and programming principles and algorithms. The answer is a single word - Simplicity.</p>

<p>Web development is very much not a simple endeavor. It is by its very nature a complex beast to wrangle. Programming is also full of mind-bending new paradigms and idioms that are unknown outside of the geekdom. And if you want to get into Computer Science and things like memory management, data structures, and algorithms, well that is also the antithesis of simple.</p>    <p class="text-center">
<a href="/blog/why-devschool-teaches-ruby-and-ruby-on-rails" class="btn btn-primary btn-read-more">
Keep reading <i class="fa fa-angle-double-right"></i></a>
</p>
