
<h1 itemprop='headline'>Why Devschool Teaches Ruby and Ruby on Rails in our online coding bootcamp</h1>
<div itemprop="image" itemscope
     itemtype="https://schema.org/ImageObject">
  <img src="https://s3.amazonaws.com/devschool-shared/jim_okelly.png" class="img-circle img-responsive avatar"
       align=left hspace=12 vspace=12 />
  <meta itemprop="url" content="https://s3.amazonaws.com/devschool-shared/jim_okelly.png">
  <meta itemprop="width" content="120">
  <meta itemprop="height" content="120">
</div>

<h3 class="article author" itemprop="author" itemscope
    itemtype="https://schema.org/Person">
  By <span itemprop="name">Jim OKelly</span>
</h3>

<div class='article author role'>Devschool Instructor</div>
<meta itemprop='datePublished' content='December 25, 2015' />
<meta itemprop='dateModified' content='December 25, 2015' />
<div class="article timestamp">Last updated on December 25, 2015</div>
<p>We have been asked many times why it is that we love Ruby and use it to teach students web development and programming principles and algorithms. The answer is a single word - Simplicity.</p>

<p>Web development is very much not simple. It is by it's very nature a complex beast to wrangle. Programming is also full of mind-bendind new paradigms and idioms that are unknown outside of the geekdom. And if you want to get into Computer Science and things like memory managment, data structures, and algorithms, well that is also the antithesis of simple.</p>

<h2>Teaching something complex starts with simple steps</h2>

<p>Ruby tends to honor a programming principle known as the Principle of Least Surprise, which means exactly what it says. If you look at a method name and it is called age, we wouldn't expect it to return something non-agey, so don't write confusing code.</p>

<p>Ruby also strips away a lot of the syntax and 'ceremony' also known as the things you type that don't have a lot with what you actually want to do, but is required. Because much of this is stripped back, Ruby code tends to "read" better then say, JavaScript.</p>

<h2>A language built to be like English, in more ways than one</h2>

<p>Ruby is known to "read" very much like english, but it also shares another trait with English. Did you know for instance, that Skill is an old English word while Craft is a Viking word? English is full of this multi-parentage stuff. It was shaped by French, German, Norse, Arabic, Spanish and more.</p>

<p>Well, Ruby in built from the "best" parts of PERL, Python, LISP, SmallTalk, Eiffel, and the language itself is written in C. So you can write Ruby in many different styles, inlcuding OOP and FP</p>

<h2>Wait one second there speedy, what is this OOP thing?</h2>

<p>Object Oriented Programming is a way of organizing programming code into chunks of related behaviors using the real world as a model. In OOP you create Objects, which are blocks of code that contain methods, attributes, and state.</p>

<p>Methods are like little black boxes that "do stuff". Attributes are things like age, or name for a Person. The concept of State can be thought of like this. You have 1.00 in your hand. I take away .50 cents. You now have .50 cents in your hand. The state is the amount of money you have in your hand and it chnages, therefore it is said to be Variable.</p>

<p>Typically in OOP you have a collection of nouns like:</p>

<ul>
<li>Person</li>
<li>Address</li>
<li>Business</li>
<li>Manager</li>
<li>Email</li>
<li>Account</li>
</ul>

<p>And each of those nouns contains a bunch of verbs, and the verbs are the methods of the object.</p>

<h2>Ok, so what is so special about Ruby on Rails</h2>

<p>Rails is pretty awesome software. There are about a thousand possible decisions that need to be made when you build a web application and no two developers will build the same code to display the same web app. Rails turns that thousand into about a hundred choices.</p>

<p>That means you can write a little bit of code and have a whole lot done because of it. To some people that means scary magic, to others who embrace not having to start a fire with flint, these opinions save us a lot of time and let us build web apps fast.</p>

<h2>Rails simplifies web development like Ruby does programming</h2>

<p>Exactly, now you get it!</p>