<%- content_for(:title) do %>
The Devschool blog | info to help you select a coding bootcamp!
<%- end %>

<%- content_for(:description) do %>
Find all the coolest infographics and hard data you need to make your decision!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/blog
<%- end %>

<%- content_for(:below_body) do %>
<%= render 'social_js' %>
<%- end %>

<div class="container article">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%- @articles.each do |a| %>
        <%= render partial: a[:permalink].gsub("-","_") + "_excerpt" %>
        <hr>
      <%- end %>
    </div>
  </div>
</div>
