<%- content_for(:title) do %>
The Devschool blog | info to help you select a coding bootcamp!
<%- end %>

<%- content_for(:description) do %>
Find all the coolest infographics and hard data you need to make your decision!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/blog
<%- end %>

<%- content_for(:below_body) do %>
<%= render 'social_js' %>
<%- end %>


<div class="container article">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: Article.most_recent[:permalink].gsub("-","_") %>
    </div>
  </div>
</div>

<div class="container article">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%- Article.except_recent.each do |a| %>
        <%= raw render_to_string(partial: a[:permalink].gsub("-","_") + "_excerpt").gsub("h1\>","h2\>") %>
        <hr>
      <%- end %>
    </div>
  </div>
</div>
