<%- content_for(:title) do %>
  <%= params[:id].gsub("-", " ").capitalize %>
<%- end %>

<div class="container article">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article">
        <%= render @partial %>
      </div>
    </div>
  </div>
</div>
