<%- content_for(:title) do %>
<%= params[:id].gsub("-", " ").capitalize %>
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/blog/<%= params[:id] %>
<%- end %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article">
        <%= render @partial %>

        <%= render 'call_to_action_1' %>
      </div>
    </div>
  </div>
</div>
