h2, h3, h4, h5 {
  font-family: "Droid Sans";
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
}

body p { 
  letter-spacing: 1px;
  font-family: "Varela Round";
}

body .video-section {
  margin-bottom: 64px;
}

body .well {
  min-height: 20px;
  padding: 24px;
  background-color: #F3F0F0;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  margin: 80px 16px;
}

header .container {
  position: relative;
  top: 8px;
}


header .navbar-toggle {
  position: relative;
  top: -6px;
}

header .navbar-brand {
  float: left;
  height: 50px;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
}

header .navbar-brand, .navbar-nav > li > a {  text-shadow: none; }
header .navbar-brand { position: absolute; top: 0px; }
header .navbar { border: none;  margin-bottom: 0px;  min-height: 50px; }

header .header-top { position: absolute;  z-index: 111;  width: 100%;}
header .carousel-content-panel {  bottom: 100px; position: absolute; width:100%; left:0;}
header  h1 {
font-family: "Monda";
color: #ffffff;  
letter-spacing: 2px; }
header  h1 .top { 
text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
font-size: 53px;  font-weight: 500; margin:0; text-transform:uppercase;}
header  h1 .middle {   
text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
font-size: 36px;  font-weight: 500; margin:0; text-transform:uppercase;}
header  h1 .bottom {  
text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
margin-bottom: 10%; font-size: 20px;  
font-weight: 300;text-transform:uppercase; }
header .carousel-content-panel .btn-banner  { color:#ffffff;  font-family: "Varela Round";  font-weight: 500; background: #EC2D33;
  border: 4px solid #FF2930;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 16px 32px;
font-size: 22px;}
header .btn.btn-apply {  border: 2px solid #EC2D33 ;  padding: 7px 16px; border-radius:0px; }
header .container-fluid { padding:0; }
header { margin-bottom: 28px; }
/*holder*/
.holder {  margin-top: -65px;}
.holder h2 { color: #000000;  font-family: "Varela Round";  font-size: 39px;  font-weight: 400;  text-transform:uppercase; }
.holder h3 { color: #606060;  font-family: "Open Sans";  font-size: 19px;  font-weight: 400; text-transform:uppercase; margin-bottom: 48px; }
.holder p  { color: #606060;  font-family: "Open Sans";  font-size: 15px;  font-weight: 400; line-height:25px; }
.holder .learn-content.text-center > h2 {  padding: 5px 135px;}
.holder .icon-para > h5 { color:#4c4c4c; font-size:22px; font-family:'Varela Round'; }
.holder .learn-content.text-center > h4 {  padding: 25px 0;}
.holder .learn-skill-holder {  padding-bottom: 40px;}
/**/
.holder .people-says-holder { background:asset-url('test-bg.jpg') no-repeat scroll ; background-size:cover; padding: 70px 0 70px;  }
.holder .people-heading.text-center > h2 {  color: #fff; padding-bottom:25px;}
.holder .people-para > p {  color: #fff;  font-size: 18px; line-height: 33px; margin: 20px 0;}
.holder .people-name > h5 { font-size:18px; text-transform:uppercase; font-family:'Open Sans'; text-transform:uppercase; color:#fff; }
.holder .people-name > h6 { color: #fff;  font-size: 16px; font-family:'Open Sans'; }
.holder .people-image .img-responsive.img-circle.center-block {  border: 8px solid #fff;}
.holder .people-para::before {  content: "";  display: inline-block;  height: 30px;  left: -20px;  position: absolute;  width: 27px; background:asset-url('quote-1.png') no-repeat;}
.holder .people-para::after {  background: rgba(0, 0, 0, 0) assset-url("quote-2.png") no-repeat scroll 0 0;  content: "";  display: inline-block;  height: 30px;  position: absolute;   width: 27px;}
.holder .tool-text > p {  padding-top: 25px;}
.holder .tool-icon-text {  border: 1px solid #dedede;  padding: 21px ;}
.holder .col-sm-4.sp {  padding: 0;}
.holder .tools-holder {  padding: 35px 0 65px;}
.holder .tool-row.sp {  padding-top: 35px;}
.holder .tool-row.dw {  padding-bottom: 15px;}
.holder .container-fluid { padding:0; }
.holder .col-sm-6.sp {  padding: 0;}
.holder .form-holder {  background: #ff4147;}
.holder .form-text > h2 {  color: #fff;  font-size: 26px;  padding-top: 35px;}
.holder .form-text > p span {  color: #fff;  font-family: 'Varela Round'; font-size:17px;}
.holder .form-text > p {  color: #fff;  font-family: 'Open Sans'; font-size:14px;}
.holder .form-control.email {  background: #fff asset-url("envelope.png") no-repeat scroll 2% 10px;  border: 1px solid #ccc;  border-radius: 4px;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;  color: #555;  display: block;  font-family: "Open Sans";  font-size: 14px;  height: 42px;  line-height: 1.42857;  padding: 6px 45px;  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;  width: 100%;}
.holder .form-control.contact {  background: #fff asset-url("contact.png") no-repeat scroll 2% 10px;  border: 1px solid #ccc;  border-radius: 4px;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;  color: #555;  display: block;  font-family: "Open Sans";  font-size: 14px;  height: 42px;  line-height: 1.42857;  padding: 6px 45px;  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;  width: 100%;}
.holder .form-text .btn.btn-squeeze, .btn.btn-apply-submit {  background: #363636; font-family:'Varela Round'; font-weight:400; font-size:18px; color:#fff; text-transform:uppercase; border-radius:0px; margin:20px 0;}
.holder .tool-icon-text.sp {  padding: 15px 41px;}
.holder .faq-folder {  background: #e8e8e8 none repeat scroll 0 0;  padding: 25px 0 35px; }
.holder .faq-heading h2 { margin: 60px; }
.holder .panel-group {  margin-bottom: 0;}
.holder .panel-heading h4 {  color: #fff;  font-family: "Open Sans";  font-size: 16px;  font-weight: 400;  text-transform: uppercase;}
.panel-default > .panel-heading {  background-color: #ff4147;  border-color: #ff4147;  color: #fff; font-size:16px;}
.panel-default > .panel-heading {  background-image: none;  background-repeat: repeat-x;}
.panel-heading {  border-bottom: 1px solid transparent;  border-top-left-radius: 0;  border-top-right-radius: 0;  padding: 10px 15px;	}
.panel i {  padding-top: 12px;}
.panel .col-sm-10.col-xs-10 span {  padding: 15px 20px 0 0; font-size:17px;}
.panel-body span {  color: #f00;  font-size: 20px;  padding-right: 10px;}
.btn-primary a { color: white; text-decoration: underline; }
.form-holder h2, .form-holder h3 { color: white; margin-bottom: 32px; }
/*footer*/
footer .footer-hidden { display: none; }
footer {  background: #2a2a2a none repeat scroll 0 0;  padding: 25px 0;}
footer .foot-content > h4 { color:#fff; font-size:22px; font-family:'Varela Round'; }
footer .foot-content > ul li a { color: #cccccc;  font-family: 'Varela Round'; font-size:14px; line-height:28px; }
footer  p	 { color: #cccccc;  font-family: 'Varela Round'; font-size:14px; line-height:28px; }
footer .footer-bottom > p {  margin: 0;}
footer .foot-logo {  padding-top: 20px;}
footer hr { border-color:#484848; }

img.half-size {
  width: 50%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left;
}

header nav.navbar-default {
  background: rgba(0, 0, 0, 0.5);
}

header .navbar-default .navbar-nav>li>a {
  font-weight: 100;
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

header nav.navbar-default .navbar-nav>li>a:hover {
  text-shadow: none;
  color: white;
}

.colored-section.red {
  padding: 40px 0;
  background: #ff4147;
  width: 100%;
  color: white;
}

.colored-section h3 {
  font-size: 45px;
  margin-bottom: 30px;
}

.colored-section p {
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 200;
}

.people-says-holder {
  margin: 40px 0;
}

.learn-skill-holder .well h2 {
  font-size: 28px;
}

.learn-skill-holder .well p {
  font-size: 18px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-bottom: 50px;

}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
