.holder .section {
  margin: 40px auto;
  padding: 48px 0;
}

.section.partnership-section {
  background-color: #FDFCE8;
  .row {
    margin: 32px 0;
  }
}

.section.faq-section {
  background: #fff;
}

.section.pricing-section {
  background-color: #E3F6FF;
}

.section.skills-section {
}


.section.reviews-section {

}

