.holder .section {
  margin: 40px auto;
  padding: 48px 0;
}

.section.partnership-section {
  .row {
    margin: 32px 0;
  }
}

.section.entrepreneur-section {
  p {
    font-size: 1.3em;
    line-height: 1.7;
  }

  h2 {
    font-size: 2em;
  }

  .row {
    margin: 32px 0;
  }
}

.section.faq-section {
  background: #fff;
}

.section.pricing-section {
  background-color: white;
}

.section.skills-section {
    }

.section.video-section {
  padding: 3em;
  margin: 4em auto;
}

.section.reviews-section {

}

.section.different-section {
  background-color: #FDFCE8;
}

.section.underdog-section {
}
.section.percentage-section {
  background-color: #E6FDD5;
}


.section.different-section,
.section.underdog-section,
.section.percentage-section {
  h2 {
    font-weight: 600;
    font-size: 3em;
    line-height: 1.5;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
  }

h3 {
    color: #020202;
    font-size: 1.8em;
    font-weight: 600;
    margin: 2em 0 1em 0;
}

  p {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
  }
}
.section.reviews-section {
      background-color: #E6FDD5;
    }

.jumbotron {
  h2, p {
    margin: 0.5em 0 1.5em 0;
  }
}

.well.product {
  padding: 2em;
}

.well.product ul {
  margin: 2em;
  font-size: 1.4em;
  margin-left: 2em;
}

.product-first {
  h3 {
    font-size: 2.4em;
  }
   p {
     font-size: 1.4em;
     line-height: 1.8;
   }
}
