.container.article {
  font-family: "Open Sans", helvetica, sans-serif;
  margin-top: 16vmin;
  font-size: 3vmin;
  line-height: 5vmin;
  color: #3A3A3A;
}

.article p {
  font-family: "Droid Serif", serif;
  color: #3A3A3A;
}

.article h1 {
  margin: 4vmin 0 2vmin;
  font-size: 5.5vmin;
  line-height: 8vmin;
  font-weight: bold;
  text-transform: uppercase;
}

.article a {
  text-decoration: none;
  color: #333;
}

.article a:hover {
  text-decoration: none;
  color: #666;
}

.article h2 {
  margin: 6vmin 0;
  font-size: 4vmin;
  line-height: 5.5vmin;
}

.article .author {
  font-size: 3.5vmin;
  line-height: 4.5vmin;
  margin-top: 6vmin;
}


.article .timestamp, .article .author.role {
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  margin: 0;
}

.article .timestamp {
  margin: 0 0 4vmin;
}

.article ul {
  margin: 3vmin 2vmin 6vmin;
}


.article .avatar {
  height: 20vmin;
}

.article p:first-of-type {
  margin-top: 10vmin;
}
