body footer {
  background-color: #000;
  color: #C3C3C3;
  padding: 6vmin;
  margin-top: 10vmin;
  font-family: "Droid Serif", serif;
  font-weight: 100;
}

footer img.brand {
  max-width: 50%;
  float: right;
}

footer a {
  color: white;
  font-weight: 200;
}

footer a:hover, footer a:active {
  color: white;
}

footer .bottom {
  overflow: hidden;
  border-top: 1px solid gray;
  margin-top: 20px;
  padding-top: 20px;
}

.social-link-list {
  overflow: hidden;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

blockquote footer {
  background: transparent;
  color: #333;
  padding: 3vmin;
  line-height: 2vmin;
}

.awesome-people {

  h2 {
    margin: 3vmin 0 5vmin 0;
    font-size: 6vmin;
    line-height: 7vmin;
    font-family: "Droid Serif", serif;
  }

  h3 {
    margin: 5vmin 0 8vmin 0;
    font-size: 5vmin;
    line-height: 6vmin;
    font-family: "Droid Serif", serif;
  }

}

.text-small {
  font-size: 2.5vmin;
}

.well.next {
  margin: 7vmin  0 !important;
  padding: 5vmin !important;
  font-weight: bold;
}

form#apply {
  font-family: "Roboto", sans-serif;
  font-size: 2.4vmin;
  padding: 4vmin;
  background: #FFFDCE;
  border-top: 0.25vmin solid #E8E254;
  border-bottom: 0.3vmin solid #E8E254;
  border-left: 0.25vmin solid #E8E254;
  border-right: 0.3vmin solid #E8E254;
  margin: 10vmin 0;
}

.invalid-field {
  border: 1px solid red;
}

form#apply button {
  margin-top: 3vmin;
  padding: 3vmin 3vmin;
  font-size: 3.5vmin;
}

.padded-top {
  padding-top: 12vmin;
}

.fa-heart {
  color: #F44336;
}

.fa-coffee {
  color: #795548;
}
