
.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0px none;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}

button[type=submit], .apply-modal-btn {
  display: inline-block;
  min-height: 50px;
  margin: 0px 5px 6vmin;
  padding: 16px 20px 0px;
  background: #981717 none repeat scroll 0% 0%;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid #981717;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
  color: white;
  font-weight: bold;
}

.apply-modal-btn:hover {
  color: black;
}


.btn-small {
  height: 21px;
  line-height: 11px;
  float: left;
  margin: 0 2px;
}

textarea#enrollment_why {
  height: 40vmin;
}

input[type="text"]{ 
  height: 50px;
}

input[type="text"], 
textarea, 
textarea.form-control {
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #f8f8f8;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
  border: 3px solid #ccc;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



button.btn {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fd625e;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #fd625e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #fd625e; color: #fff; }

/*Custom Radio Buttons and Checkboxes using Font Awesome*/

input[type=radio],
input[type='checkbox'] {
  display: none;
}
input[type=radio] + label {
  display: block;
}
input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
}
input[type=radio] + label:before {
  content: "\f10c"; /* Radio Unchecked */
}
input[type=radio]:checked + label:before {
  content: "\f05d"; /* Radio Checked */
}
input[type="checkbox"] + label:before {
  content: "\f096"; /* Checkbox Unchecked */
}
input[type="checkbox"]:checked + label:before {
  content: "\f046"; /* Checkbox Checked */
}
.radio label,
.checkbox label {
  padding-left: 0;
}

/*
HTML Markup should look like this:

<div class="checkbox">
<input type="checkbox" id="myCheckbox" name="myCheckbox" value="myCheckbox">
<label for="myCheckbox">Checkbox Label</label>
</div>

<div class="radio">
<input type="radio" id="myRadio" name="myRadio" value="myRadioOption">
<label for="myRadio">Label</label>
</div>

 */
