nav.navbar {
  background: rgba(9, 8, 7, 0.8); 
}

.navbar-collapse.collapse {
  text-align: center;
}

.navbar-inverse .navbar-nav {
  font-size: 2.2vmin;
  display: inline-block;
  float: none;
  margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: white !important;
  border-radius: 4px;
  position: relative;
  top: 2px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0;
  margin-right: 2vmin;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #c73e3e;
}

.navbar-brand img {
  height: 30px;
  position: relative;
  top: -0.4vmin
}
