.blue-hero-form {
  background: #4A97EC;
  color: white;
  padding: 72px 0;
  width: 100%;
}

.blue-hero-form h2,
.blue-hero-form .h2 {
  font-family: "Varela Round";
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 30px;
  line-height: 1.5;
}

.blue-hero-form h3,
.blue-hero-form .h3 {
  font-family: "Varela Round";
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 20px;
  line-height: 1.35;
}

.blue-hero-form p {
  font-family: "Varela Round";
  text-rendering: optimizeLegibility;
  font-size: 18px;
  color: white;
}

.blue-hero-form .form-card {
  color: white;
  padding: 30px;
  border-radius: 5px;
  background: white;
  text-align: left;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.15);
  margin: 30px auto 30px;
}

.blue-hero-form .form-card .trial-banner {
  background-color: #0565D0;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 2px #1A5BA2;
  text-align: center;
  font-weight: 500;
  padding: 20px;
  margin: -30px -30px 30px;
  color: #fff;
}

.blue-hero-form .form-card fieldset {
  border: none;
  border-bottom: 1px solid #edeff0;
}

.blue-hero-form .form-footer {
  margin-bottom: -10px;
  width: 100%;
  display: inline-block;
}

.blue-hero-form .button.primary,
.blue-hero-form .button.button-primary {
  background-color: #085EBD;
  border: 2px solid #085EBD;
  color: #fff;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

.blue-hero-form .form-footer .button {
  margin: 0 10px 10px 0;
  float: left;
}

.blue-hero-form .button {
  font-size: 16px;
  height: 52px;
  line-height: 48px;
  padding: 0 32px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  position: relative;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid #1C7AE2;
  color: #5fcf80;
}

.blue-hero-form .form-card label {
  left: 28px;
  color: #a6b0b7;
}

.blue-hero-form .form-item label {
  position: absolute;
  top: 13px;
  right: 18px;
  left: 18px;
  line-height: 1.3;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  cursor: text;
  color: #7b8b8e;
  z-index: 5;
  overflow: hidden;
  font-weight: normal;
  display: block;
}

.blue-hero-form .form-item .input-text {
  margin-bottom: 0;
}

.blue-hero-form .input-text, textarea {
  background: #e8ebed;
  margin: 0;
  font-size: 14px;
  color: #576366;
  width: 100%;
  padding: 12px 15px;
  outline: 0;
  border: 2px solid #DDE1E2;
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: 0;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.blue-hero-form .form-card .play-icon {
  width: 10px;
  height: 13px;
  position: relative;
  top: 0.1px;
  margin-left: 10px;
  fill: #fff;
}

.blue-hero-form .button svg {
  vertical-align: middle;
}

.blue-hero-form .button.primary, .button.button-primary {
  background-color: #085EBD;
  border: 2px solid #085EBD;
  color: #fff;
  margin-top: 15px;

}

.blue-hero-form input, select {
  vertical-align: middle;
}

.blue-hero-form .form-item {
  position: relative;
  margin-bottom: 13px;
}


@media screen and (min-width: 900px) {
  .blue-hero-form h2,
  .blue-hero-form .h2 {
    font-size: 22px;
    line-height: 1.5;
  }
  .blue-hero-form .hero-title {
    padding-top: 28px;
  }
}

