@media (max-width: 480px) {
  html,body {
    font-size: 4vmin !important;
    line-height: 4.2vmin !important;
  }

  .what-full, .how-full {
    background-position: left top !important;
  }

  #share_panel img {
    width: 32px;
    height: 32px;
  }

  .above-fold h1 {
    margin-top: 40vmin !important;
  }
}
