.navbar-brand {
  position: relative;
  top: -6px;
}

.square {
  border: 1px solid #333;
  margin: 0 -1px -1px 0;
  height: 45vmin;
}

.square p {
  font-size: 2.4vmin;
}

.square h3.headline {
  font-size: 2.6vmin;
}

p.note {
  font-size: 1.8vmin;
}

.squeeze {
  background-color: #C73E3E;
  opacity: 0.9;
  background-size: cover;
  margin-top: 4vmin;
}

#mc_embed_signup {
  padding: 6vmin;
}

.squeeze p {
  margin: 0;
  font-size: 2.2vmin;
  line-height: 4vmin;
  font-weight: 200;
  color: white;
}

.squeeze h3 {
  font-size: 3vmin;
  line-height: 4.5vmin;
  margin: 0;
  font-weight: 300;
  color: white;
}

.squeeze button {
  margin: 0;
}

.squeeze label {
  font-size: 2.2vmin;
  font-weight: 200;
  color: white;
}

span.price {
  font-weight: 500;
}


a.btn {
  text-decoration: none !important;
}

p {
  padding-bottom: 1.6em;
  color: #444242;
  font-size: 2.4vmin;
  line-height: 4vmin;
}

.card {
  border: 0.1rem solid #e5e5e5;
  border-radius: 1rem;
  padding: 1em;
  margin-bottom: 4vmin;
}

.card-title {
  text-align: center;
}


h2.headline {
  margin: 10vmin;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 5.8vmin;
}

h3.headline {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 3.5vmin;
  margin-bottom: 4vmin;
  font-weight: bold;
}

.vertical-padding {
  margin-top: 20vmin;
}

h2 {
  margin: 8vmin 4vmin 10vmin;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  font-size: 7vmin;
  line-height: 10vmin;
}

h3 {
  margin: 5vmin 3vmin;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.01em;
  font-size: 5vmin;
  line-height: 8vmin;
}

.headline {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.tailline {
  font-size: 3vmin;
  line-height: 4vmin;
  font-weight: 200;
}


/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}

.row hr {
  width: 88%;
  border: 0;
  height: 2px;
  background: #ddd; /* Old browsers */
  margin: 4.5em 2em;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
  color: white;
  font-smooth: always;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
}
blockquote:before {
  content: open-quote;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
}
blockquote p {
  font-size: 3vmin;
  line-height: 4.5vmin;
  font-weight: 200;
  color: white;
  font-smooth: always;
}

.inspiration, .review-card {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 4vmin;
  line-height: 5vmin;
  margin: 10vmin 0;
  padding: 10vmin 0;
}

.quote, .reviewer {
  margin: 3vmin;
  color: white;
  font-smooth: always;
}

.reviewer-photo {
  max-width: 300px;
  min-width: 120px;
  position: relative;
  margin: 1em auto;
}

.faq-section {
  width: 90%;
  padding: 8vmin;
  font-size: 3vmin;
}

.faq-section h2, .faq-section h3 {
  margin: 5vmin 0;
  font-family: 'Droid Serif', sans-serif;
}

.faq-section h2 {
  letter-spacing: 0.02em;
  font-size: 7vmin;
  line-height: 10vmin;
}

.faq-section h3 {
  letter-spacing: 0.01em;
  font-size: 5vmin;
  line-height: 7vmin;
}

.colored-section {
  position: relative;
}

.colored-section:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 30px;
  margin-left: -30px;
}

.colored-section.red {
  background: #B52929;
  color: white;
  font-weight: 300;
}

.colored-section.red p {
  color: white;
}

.colored-section.red:after {
  border-top-color: #B52929;
}

.colored-section.blue {
  background-color: #0F50CC;
}

.colored-section.blue:after {
  border-top-color: #0F50CC;
}

.colored-section.blue {
  background-color: #0F50CC;
}


.section-yellow {
  background-color: #F9F4D3;
}

#share_panel {
  position: fixed;
  top: 25%;
  left: 1%;
}

#share_panel img {
  padding: 0.5vmin;
  border: 0;
  box-shadow: 0;
}

