html,body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

p {
  margin: 2vmin !important;
  font-size: 3.2vmin;
  line-height: 6vmin;
  font-family: "Droid Sans", sans-serif;
  color: #333;
}

.full-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  opacity: 0.9;
}

.above-fold a {
  color: white !important;
}

.full-what {
  background: image-url('heroes/what-bg.jpg') no-repeat 100% 60% fixed;
}

.full-how {
  background:  image-url('heroes/how-bg.jpg') no-repeat 100% 80% fixed;
}

.full-where {
  background: image-url('heroes/where-bg.jpg') no-repeat 100% 60% fixed;
}

.full-who {
  background:  image-url('heroes/jim-bg.jpg') no-repeat 50% 50% fixed;
}

.full-price {
  background: image-url('heroes/price-bg.jpg') no-repeat 50% 10% fixed;
}

.full-apply {
  background: image-url('heroes/apply-bg.jpg') no-repeat 50% 10% fixed;
}

.full-applied {
  background: image-url('heroes/applied-bg.jpg') no-repeat 50% 50% fixed;
}

.above-fold .jumbotron {
  background: rgba(9, 8, 7, 0.6); 
  color: white;
  text-align: center;
  padding: 8px;
  margin: 4vmin auto;
  max-width: 700px;
  border-radius: 16px;
}

.above-fold h1 {
  max-width: 850px;
  text-align: center;
  font-size: 7.5vmin;
  line-height: 9.5vmin;
  font-weight: 300;
  margin: 20vmin auto 10vmin;
  font-family: "Droid Sans", sans-serif;
  padding-top: 6vmin;
}

.above-fold h1,
.above-fold h1 {
  color: white;
  text-shadow: 1px 1px rgba(45, 45, 45, 0.2);
}


.above-fold a {
  color: white;
  text-decoration: underline;
}

.above-fold h2 {
  max-width: 850px;
  text-align: center;
  color: white;
  font-size: 4vmin;
  line-height: 5.5vmin;
  margin: 1em auto;
  text-shadow: 1px 1px rgba(45, 45, 45, 0.2);
  font-family: "Droid Sans", sans-serif;
}


.card {
  border: 0.1rem solid #e5e5e5;
  border-radius: 1rem;
  padding: 1em;
  margin-bottom: 4vmin;
}

.card-title {
  text-align: center;
}


h2.headline {
  margin: 10vmin;
  font-family: Lato, sans-serif;
  letter-spacing: 0.02em;
  font-size: 7vmin;
}

h3.headline {
  font-family: Lato, sans-serif;
  letter-spacing: 0.02em;
  font-size: 3.5vmin;
  margin-bottom: 4vmin;
}

.vertical-padding {
  margin-top: 20vmin;
}

h2 {
  margin: 8vmin 4vmin 10vmin;
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: 0.02em;
  font-size: 7vmin;
  line-height: 10vmin;
}
.headline {
  text-transform: uppercase;
}

.tailline, .headline {
  text-align: center;
}

.apply-now {
  position: relative;
  top: 1.3vmin;
}

.btn.btn-apply {
  color: #fff;
  text-transform: uppercase;
  background: #c73e3e;
  line-height: 3.4vmin;
  font-family: "Droid Serif", serif;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: "Droid Serif", serif;
}

.btn.btn-apply:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active {
  background: #ff4147;
  color: white;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}

.slick-slide img {
  margin-bottom: 2vmin;
}

.slick-slider button.slick-prev:before, 
.slick-slider button.slick-next:before {
  color: black;
}

.slick-slider button.slick-next:before {
  margin-left: -1em;
}

.slick-slider button.slick-prev:before {
  margin-right: -1em;
}

.slick-slider.slide {
  padding: 1em;
}


.row hr {
  width: 88%;
  border: 0;
  height: 2px;
  background: #ddd; /* Old browsers */
  margin: 4.5em 2em;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
}
blockquote:before {
  content: open-quote;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
}
blockquote p {
  display: inline;
}

.review-card {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 4vmin;
  line-height: 5vmin;
}

.review-card footer {
  margin: 3vmin;
}

.reviewer-photo {
  max-width: 300px;
  min-width: 120px;
  position: relative;
  margin: 1em auto;
}


