<h1>So you want to claim your Devschool preview session!</h1>

<p>Well <%= @name %>, the first step is for you to share https://devschool.rocks
on your favorite social network, telling your world that you are taking steps
towards improving your life by leaving behind the dead-end job and
becoming a web developer!</p>

<p>One easy way to do this is to 
<a href="https://twitter.com/devschoolrocks/status/694665072681963520">
  re-tweet this tweet</a> or to <a href="https://www.facebook.com/devschoolrocks">
  re-share us on facebook</a>! One of the ways we keep our cost to you
as low as possible is to not have a large sales or marketing budget.
Help us keep Devschool affordable by spreading the world! Thank you! </p>


<p>Once you have completed the share, give us a link to it so we can verify it. At
that point we will email you and schedule a time for you and Jim to meet up!</p>

<h2>We will see you soon!</h2>

<p>* Please note that creating a profile to perform this task will be a waste
of time, and we think your time is highly valuable, so please don't waste it!</p>
