<script>
ga('create', '<%= @ga_code %>', 'auto');
ga('send', 'pageview');
</script>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_#{@affiliate.code}.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
	<h1>
          <div class="top">You just saved <%= number_to_currency @affiliate.discount %></div>
          <div class="middle">thanks to a grant from <%= @affiliate.name %>!</div>
          <div class="bottom">
      Your discount will follow you around until you are ready to pay for 
      your enrollment. At that time your discount will be applied!
          </div>
	</h1>

	<p><a href="/coding-bootcamp" class="btn btn-banner">learn more</a></p>
      </div>
    </div>
    <center>
      <h2><a href="/coding-bootcamp">Read more about our online coding bootcamp!</a></h2>
    </center>
  </div>
<%- end %>
