<script>
ga('create', '<%= @ga_code %>', 'auto');
ga('send', 'pageview');
</script>

<div class="colored-section red padded-top">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="headline" style="padding: 32px 32px 46px 36px;">You qualify for a 
        <%= number_to_currency current_affiliate.discount %> discount on your enrollment from
        <%= current_affiliate.name %>!</h1>
    </div>
  </div>
</div>
