<form id="apply" action="<%= backend_url %>/enrollments.json" class="form form-horizontal">
  <fieldset>
    <h2 class="text-center">Got what it takes?</h2>
    <h3 class="text-center">Fill this out and we will contact you for an interview</h3>

    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <input id="enrollment_name" name="enrollment[name]" 
               type="text" placeholder="Future J Hacker" 
               class="contact form-control input-md unfilled_field">
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <input id="enrollment_email" name="enrollment[email]" 
               type="text" placeholder="somebody@someplace.com" 
               class="email form-control unfilled_field input-md">
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <textarea class="form-control" rows="8" id="enrollment_why" name="enrollment[why]" placeholder="Tell us why we should accept you to our program, we don't accept everyone. Why? We care deeply about the school culture and the experience of our current students.

So what does one say to get accepted? Show some spunk. Show some nerd cred. Tell us how you overcame some challenges in your life. We like people who tough it out and overcome."></textarea>
      </div>
    </div>

    <input type="hidden" name="enrollment[promo_code]"
                         id="enrollment_promo_code" />

    <div class="col-md-6 col-md-offset-3 text-center">
      <button id="apply" class="btn btn-lg btn-block btn-apply-submit" disabled>APPLY TODAY</button>
    </div>

  </fieldset>
</form>
