<div class="colored-section red">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
      <div class="notice">
        <h3>Congratulations!</h3>
        <p>You are going to save yourself <b><%= number_to_currency promo_discount %> USD</b>
        on your enrollment because you qualify for a referral discount from <%= referrer_name %>! How awesome is that?</p>
        <p>This means anyone on this website where you see a pricing figure, this discount will already be included!</p>
      </div>
    </div>
  </div>
</div>
