<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <ul class="list-unstyled">
          <li><a href="/terms">Terms</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><a href="mailto:hello@devschool.rocks">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-6">
        <%= image_tag image_path("devschool-logo-big.png"), class: "brand img-responsive" %>
      </div>
    </div>
    <div class="row">
      <div class="bottom">
        <ul class="pull-right social-link-list list-inline">
          <li>
            <a href="https://www.facebook.com/Devschool-1089256231104556/" target="_blank"><i class="fa fa-facebook"></i>
            </a></li>
            <li>
              <a href="https://twitter.com/devschoolrocks" target="_blank"><i class="fa fa-twitter"></i>
              </a></li>
              <li>
                <a href="https://plus.google.com/b/117787107398081371302" rel="publisher" target="_blank"><i class="fa fa-google-plus"></i>
                </a></li>
                <li>
                  <a href="https://www.youtube.com/channel/UCBaSjb4qGVqS_Q5SVbn1hAA" target="_blank"><i class="fa fa-youtube"></i>
                  </a></li>
        </ul>
        <p class="copyright">© 2015 Devschool llc, - Devschool and it's logo are trademarked - All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
