<footer>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <ul class="list-unstyled">
        <li><a href="/terms">Terms</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><a href="mailto:hello@devschool.rocks">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-8 col-sm-6">
      <%= image_tag asset_path("devschool-logo-big.png"), class: "brand img-responsive" %>
    </div>
  </div>
  <div>&copy; 2015 Devschool llc, - Devschool and it's logo are trademarked - All rights reserved.</div>
</div>
</footer>

