<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-top-content">
        <div class="row">
          <div class="col-sm-5ths">
            <div class="foot-content">
              <h4>Company</h4>
              <ul class="list-unstyled">
                <li><a href="/coding-school/different">The Devschool Difference</a></li>
                <li><a href="/coding-bootcamp/terms">Terms/Privacy</a></li>
                <li><a href="mailto:hello@devschool.rocks">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5ths">
            <div class="foot-content">
            </div>
          </div>
          <div class="col-sm-5ths">		
            <div class="foot-content">
              <h4>we are social :)</h4>
              <ul class="social-link-list list-inline">
                <li><a href="https://www.facebook.com/devschoolrocks" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/devschoolrocks" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://google.com/+DevschoolRocks-online-developer-bootcamp" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="http://www.youtube.com/channel/UCBaSjb4qGVqS_Q5SVbn1hAA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.pinterest.com/devschoolrocks" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.linkedin.com/company/devschool" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5ths">
            <div class="foot-content sp">
              <div class="foot-logo">
                <a href="#"><img src="<%= asset_path('foot-logo.png') %>" 
                   class="footer-logo  img-responsive center-block"/></a>
              </div>
            </div>
          </div>
          <div class="col-sm-5ths">
            <div class="foot-content">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="footer-bottom">
      <p>&copy; 2015 Devschool llc, - Devschool and its logo are trademarked - All rights reserved.</p>
    </div>
  </div>
</footer>
