<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff;}#mc_embed_signup h2 {font-size: 3vmin;}
</style>
<div class="well" id="mc_embed_signup">
  <form action="//rocks.us12.list-manage.com/subscribe/post?u=93252fdea9ccab76d227ec7a4&amp;id=7d4923dc65"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate form"
        target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Want to join an live coding session to see what Devschool is like?</h2>
      <div class="form-group">
        <label for="mce-EMAIL">Enter your email and we will let you know a day before the session
        <span class="asterisk">*</span>
        </label>
        <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
      </div>
      <div id="mce-responses" class="form-group">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_93252fdea9ccab76d227ec7a4_7d4923dc65" tabindex="-1" value=""></div>
    <p class="note">We hate spam and will not send you needless crap. We try to have an open session once a week.
    You can always unsubscribe later easily!</p>
      <input type="submit" value="Keep me updated" name="subscribe"  class="btn btn-warning">
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<div class="clear"></div>
