  <li><%= link_to 'curriculum', what_path, class: "default-active" %></li>
  <li><%= link_to 'pricing', price_path, class: "default-active" %></li>
  <li><%= link_to 'get hired', ngo_path, class: "hidden-sm hidden-md" %></li>
  <li class="footer-hidden" style="margin-left: 18px;"><a href="/apply" class="btn btn-apply">apply</a></li>
