<li><a href="/coding-bootcamp" class="">home</a></li>
<li><a href="/coding-school/different" class="last">learn different</a></li>
<li><a href="/coding-bootcamp#apply" class="btn btn-apply">APPLY NOW</a></li>
