  <li><%= link_to 'coding bootcamp', what_path, class: "default-active" %></li>
  <li><%= link_to 'afforable pricing', price_path, class: "default-active" %></li>
  <li><%= link_to 'get hired', ngo_path, class: "" %></li>
  <li class="footer-hidden" style="margin-left: 18px;"><a href="/coding-bootcamp/#apply" class="btn btn-apply">start for free!</a></li>
