  <li><%= link_to 'coding bootcamp', home_path, class: "default-active" %></li>
  <li><%= link_to 'devschool faq', "/coding-bootcamp#faq" %></li>
  <li class="footer-hidden" style="margin-left: 18px;"><a data-scroll href="/coding-bootcamp/#apply" class="btn btn-apply">start for free!</a></li>
