  <li><%= link_to 'curriculum', what_path, class: "default-active" %></li>
  <li><%= link_to 'instructors', what_path, class: "default-active" %></li>
  <li><%= link_to 'pricing', price_path, class: "default-active" %></li>
  <li><%= link_to 'real work', ngo_path, class: "hidden-sm hidden-md" %></li>
  <li style="margin-left: 18px;"><a href="/apply" class="btn btn-apply">apply</a></li>
