<header id="repeat_viewer_2" class="section-header green-hero-form hero-loaded" data-layout-element="hero">
  <section class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="hero-title">
          <h2>
            HERE YOU GO, A FREE GIFT FROM DEVSCHOOL!
          </h2>
          <h3>
            Take advantage of a <strong>free, private code lesson</strong> from
            a web developer with more than 20 years of experience!
          </h3>
          <p>We think after you have a chance to
          learn something personally from a Devschool instructor, you will take the
          leap and make 2016 the year you change your life!</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-card">
          <p class="trial-banner basic">MAKE 2016 THE YEAR YOUR LIFE CHANGES!</p>
          <%= form_tag "/free_gifts" do %>
            <fieldset>

              <div class="row">
                <div class="form-item col-sm-6">
                  <input placeholder="Your name*" autocomplete="name" class="input-text input-text placeholder-processed" type="text" name="name" id="name">
                </div>
                <div class="form-item col-sm-6">
                  <input placeholder="@twitter *" autocomplete="twitter" class="input-text input-text placeholder-processed" type="text" name="twitter" id="twitter">
                </div>
              </div>

              <div class="row">
                <div class="form-item col-md-12">
                  <input placeholder="your@email.com *" autocomplete="email" class="input-text input-text placeholder-processed" type="email" name="email" id="email">
                </div>
              </div>

            </fieldset>

            <div class="form-footer">
              <button name="button" type="submit" class="button button primary">
                <span>claim my free gift</span>
                <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 11 12" class="play-icon">
                  <path d="M10.5,5.1l-9-5C1.3,0,1.2,0,1,0C0.8,0,0.6,0,0.5,0.1C0.2,0.3,0,0.6,0,1v10c0,0.4,0.2,0.7,0.5,0.9C0.6,12,0.8,12,1,12
                  c0.2,0,0.3,0,0.5-0.1l9-5C10.8,6.7,11,6.3,11,6C11,5.6,10.8,5.3,10.5,5.1z"></path>

                </svg>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</header>
