<div class="green form">
  <section class="container">
    <div class="row vcenter">
      <div class="col-md-4 col-sm-6">
        <form action="//rocks.us12.list-manage.com/subscribe/post?u=93252fdea9ccab76d227ec7a4&amp;id=7d4923dc65"
              method="post" id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form"
                            target="_blank" novalidate>
          <div class="form-card">
            <h3 class="title">DONT MISS OUT</h3>
            <fieldset>
              <div class="row">
                <div class="form-item col-sm-12">
                  <input type="text" class="email input-text" value="" name="EMAIL" placeholder="Your email address">
                </div>
              </div>
            </fieldset>


            <div class="form-footer">
              <button type="submit" name="subscribe"  class="button primary">Yes, let me know!&nbsp; ❤</button>
            </div>

          </div>
        </form>
      </div>

      <div class="col-sm-6 col-md-8">
        <h2>Free Weekend Online Coding Bootcamp</h2>

        <p>In our Weekend Workshop series, we teach intro
        some basic programming patterns and techniques and unix hackery that
        give you powerful tools in your daily programming lives!</p>

        <p>We don't know very far ahead of time when we are available to teach these
        but if you put your email on the list, we will let you know a few days before
        one happens!</p>
      </div>
    </div>
  </section>
</div>
