<div class="squeeze">
  <div class="container">
  <div class="row">
    <div class="col-md-6 hidden-sm hidden-xs">
      <%= image_tag "squeeze-bg-1.png" %>
    </div>
    <div class="col-md-6">
      <div id="mc_embed_signup">
        <form action="//rocks.us12.list-manage.com/subscribe/post?u=93252fdea9ccab76d227ec7a4&amp;id=7d4923dc65"
              method="post" id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form"
                            class="validate form"
                            target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="form-group col-md-12">
            <h3>Want to join a live coding session and see 
            what Devschool's online coding bootcamp is all about</h3>
            </div>

            <div class="form-group col-md-12">
              <input type="email" value="" name="EMAIL" 
                class="form-control required email" 
                id="mce-EMAIL" placeholder="What is your email?">
            </div>
            <div id="mce-responses" class="col-md-12 form-group">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div class="col-md-12">
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_93252fdea9ccab76d227ec7a4_7d4923dc65" tabindex="-1" value=""></div>
            </div>
            <div class="col-md-4">
              <button type="submit" name="subscribe"  class="btn ">I want in!</button>
            </div>
            <div class="col-md-8">
            <p class="note">We try to have an open session once a week. You can always unsubscribe easily.</p>
            </div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <div class="clear"></div>
    </div>
    </div>
  </div>
</div>
