<form action="//rocks.us12.list-manage.com/subscribe/post?u=93252fdea9ccab76d227ec7a4&amp;id=7d4923dc65"
      method="post" id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form"
                    target="_blank" novalidate>
  <div class="form-text">
  <h2>Want to join an live coding session to see what Devschool is like?</h2>
  <p><span>Enter your email and we will let you know a day before the session </span></p>
  <input type="text" class="form-control" value="" name="EMAIL" placeholder="What is your email?">
  <button type="submit" name="subscribe"  class="btn btn-keep ">Notify me</button>
  </div>
</form>
