  <%= render partial: 'review', locals: {
    image_url:'chris-bastian.png',
    name: "Chris Bastian",
    rating: 5,
    location: "San Francisco, USA",
    review: <<-EOS
<p>I really like working with Jim.  I find him helpful, patient and extraordinarily knowledgable.  He is able to help me with basic issues and give me a larger contextual overviews of how to approach coding.</p>
<p>Jim has also been able to help me lay a foundation for individual learning - establishing smaller lessons as well as longer-term projects. Every coding question I have - Jim has been able to give me insight on. I would totally recommend Devschool!</p>
EOS
  } %>
