<%= render partial: 'review', locals: {
    image_url:'eric-douglas.png',
    name: "Eric Douglas",
    location: "Ohio, USA",
    rating: 5,
    review: <<-EOS
<p>Coming from a business background, I found programming intriguing but sometimes 
very confusing. My instructor excelled at simplifying concepts into easy to repeat 
axioms and patterns, and I found the experience at Devschool to be a very 
personal one.</p>

<p>I am very satisfied with my experience and the value of Devschool and 
I would definitely recommend Devschool to anyone who wants to become a 
web developer.</p>
EOS
  } %>
