  <%= render partial: 'review', locals: {
    image_url:'hector-moreno.png',
    name: "Hector Moreno",
    rating: 5,
    location: "Texas, USA",
    review: <<-EOS
<p>I was already enrolled in Dev Bootcamp, I was in phase zero before I switched to Devschool's coding bootcamp and I am going to explain why. During the first 3 weeks of Dev Bootcamp I started realizing that not only was the course over-priced, and some of the staff was under qualified.</p>
<p>At Devschool I feel I have gotten my moneys worth and then some and I appreciate the expert instruction I didn't get at Dev Bootcamp.</p>
EOS
  } %>
