  <%= render partial: 'review', locals: {
    image_url:'mehgan-holden.png',
    rating: 4.8,
    name: "Meghan Holden",
    location: "New York, USA",
    review: <<-EOS
<p>At Devschool I learned the skills that I needed to land the job I 
have today. I completed my Web Development course in 18 weeks as 
I had other obligations and Devschool was flexible enough for me to 
handle both!</p>
<p>I would recommend the Web Developers course at Devschool to anyone 
who wants to cut through the cruft and really, really learn the skills 
they will need to build modern web applications.</p>
EOS
  } %>
